.banner {
    width: 1050px;
    height: 380px;
    background: gray;
    float: left;
}

#radio {
    width: 830px;
    height: 382px;
    background-image: url("../testfile/index.png");
    transition: 10s;
}

#radio {
    width: 830px;
    height: 382px;
    background-image: url("../testfile/change.png");
    transform: translate(0px, 0px);
}

.op-link {
    width: 150px;
    height: 340px;
    /*background: chartreuse;*/
    float: right;
    background: #2b333b;
    padding: 20px 0;
}

.op-link .title {
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px;
}

.op-link .line {
    margin: 22px 20px;
    height: 1px;
    background-color: #4d4d4d;
}

.op-link .link {
    color: #dedede;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.op-link .link:hover {
    background-color: #4d4d4d;
}

.op-link .link .icon {
    width: 6px;
    height: 12px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: 12px;
}

.area-2 {
    clear: both;
}

.area-2.title.name {
    width: 28px;
    height: 106px;
}

.area-2 .content-left {
    float: left;
    width: 252px;
    height: 100px;
    margin: 20px 0;
    margin-left: 89px;
    cursor: pointer;
}

.area-2 .content-left .content-size {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: #666666;
}

.more {
    font-size: 14px;
    color: #666666;
    width: 50px;
    height: 14px;
    line-height: 14px;

    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.area-3 .content-photo {
    float: left;
    width: 307px;
    height: 108px;
    margin-left: 10px;
    margin-top: 20px;
}

.area-3 .photo-size {
    float: left;
    width: 137px;
    height: 91px;
    margin-top: 20px;
    margin-left: 30px;
}

.area-2 .content-left .time-size {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #666666;
    margin-top: 4px;
}

.area-3 .content-photo .content-size {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: #333333;
}

.area-3 .content-photo .time-size {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #333333;
    margin-top: 4px;
}

.area-3 .content {
    float: left;
    width: 450px;
    height: 112px;
    margin-left: 106px;
    margin-top: 15px;
}

.area-3 .content .table {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 14px;
}

.area-3 .content .table li {
    height: 28px;
    line-height: 28px;
    color: #333333
}

.notice {
    position: relative;
    top: 10px;
    margin: 20px 0;
    height: 140px;
    background: #EFEEEC;
}

.notice .title {
    width: 100px;
    float: left;
    height: 100%;
}

.notice .title .line {
    float: left;
    width: 7px;
    height: 100%;
}

.notice .title .name {
    width: 93px;
    height: 100%;
}

.area-4 {
    position: relative;
    top: 30px;
    margin: 20px 0;

}

.area-4 .tab-bar {
    height: 40px;
    border-bottom: 1px solid #E5E3DF;
}

.tab-bar .tab {
    cursor: pointer;
    /*display: inline-block;*/
    float: left;
    padding: 10px;
    padding-bottom: 3px;
    border-bottom: 3px solid white;
    color: #999999;

}

.tab-bar .tab.active {
    border-bottom: 3px solid #489299;
    color: #29355b;
}

.tab-bar .type {
    float: right;
    padding: 10px;
    color: #B3AFA9;
    padding-bottom: 3px;
    border-bottom: 3px solid white;
}

.tab-bar .point {
    float: right;
    width: 3px;
    background: #B3AFA9;
    height: 3px;
    margin-top: 21px;
}

.tab-bar .page {
    float: right;
    width: 100px;
    height: 100%;
    color: #999999
}

.tab-bar .page span {
    display: inline-block;
    margin: 10px 4px;
    margin-bottom: 3px;
    border-bottom: 3px solid white;
    height: 24px;
}

.tab-bar .page .page-num {
    text-align: center;
    vertical-align: top;
}

.tab-bar .page .icon-left {
    background: url("../image/css_sprites.png");
    background-position: -462px -314px;
    width: 12px;
    height: 24px;
    cursor: pointer;
}

.tab-bar .page .icon-right {
    background: url("../image/css_sprites.png");
    background-position: -462px -344px;
    width: 12px;
    height: 24px;
    cursor: pointer;
}

.area-4 .content {
    height: 492px;
    width: 100%;
    clear: both;
}

.content .left {
    float: left;
    width: 320px;
    height: 100%;
}

.area-4 .content .left .div_photo1 {
    width: 311px;
    height: 192px;
    margin-top: 24px;
    background-image: url("../../testfile/rectangle.png");
}

.div1 {
    /*  float: left;*/
    margin: 0 15px;
    margin-top: 10px;
}

.area-4 .content .left .div_photo1 .label {
    width: 100%;
    height: 54px;
    line-height: 54px;
    margin-left: 15px;
}

.little {
    float: left;
    height: 20px;
    float: left;
    background-color: #489399;
    font-size: 12px;
    color: #ffffff;
    padding: 0 7px;
    line-height: 20px;
    border-radius: 3px;
    margin: 6px;
    cursor: pointer;

}

.little_content {

    /*margin-top: -3px;
    margin-left: 7px;
    margin-right: 7px;*/
}

.area-4 .content .left .div_photo1 .content {
    float: left;
    margin-top: 21px;
}

.area-4 .content .left .div_photo1 .little .label {
    color: white;
}

.area-4 .content .left .div_photo {
    width: 311px;
    height: 131px;
    margin-top: 7px;
    background-image: url("../../testfile/p_adv.png");
}

.content .right {
    float: right;
    width: 880px;
    height: 100%;
}

.area-4 .content .right .book {
    float: left;
    width: 147px;
    height: 223px;
    margin-left: 29px;
    /*background-color: darkseagreen;*/
    margin-top: 23px;
}

.label1 {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #ffffff;
}

.area-4 .content .right .book .bk {
    margin-left: 22px;
    margin-top: 11px;
}

.book_content_size {
    font-size: 14px;
    margin-top: 29px;
    color: #333333;
}

.yellow {
    background-image: url("../../testfile/sprites.png");
    background-position: -183px -175px;
    background-repeat: no-repeat;
    height: 13px;
    width: 13px;
    float: left;
    margin-left: 10px;
}

.behind {
    background-image: url("../../testfile/sprites.png");
    background-position: -183px -175px;
    background-repeat: no-repeat;
    height: 13px;
    width: 13px;
    float: left;
}

.con {
    font-size: 15px;
    color: #FFD200;
    float: left;
    margin-top: -5px;
    margin-left: 4px;
}

.yellow-span {
    float: left;
}

.book_content_name {
    font-size: 11px;
    margin-top: 9px;
    color: #999999
}

.book_content_picture {
    font-size: 11px;
    margin-top: 16px;
}

.area-4 .content .right .book .book1 {
    float: left;
    width: 98px;
    height: 141px;
    margin-top: 30px;
}

.area-5 {
    height: 100px;

}

.area-5 .item {
    float: left;
    width: 285px;
    height: 82%;
    margin-top: 60px;
    margin-left: 20px;
}

.area-5 .photo {
    float: left;
    width: 285px;
    height: 82%;
    margin-top: 60px;
}

.area-6 {
    height: 430px;
    margin-left: -6px;
}

.doc {
    float: left;
    width: 6px;
    height: 24px;
    background-color: #35c974;
}

.area-6 .title {
    height: 27px;
    margin-top: 132px;
    margin-left: 15px;
}

.area-6 .title .total {

    color: #489299;
    cursor: pointer;
    margin-left: 10px;
}

.a6_pic {
    margin-top: 0px;
    width: 283px;
    height: 180px;
}

.a6_div2 {
    margin-left: 15px;
    margin-right: 17px;
    margin-top: 15px;
    width: 252px;
    height: 73px;
}

.a6_con2 {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #999999;
}

/*.small{*/
/*background-color: red;*/
/*width: 40px;*/
/*height: 30px;*/
/*margin-top: 10px;*/
/*}*/

.a6_little {
    background-color: #099292;
    width: 40px;
    height: 30px;
}

.doc_content {
    font-family: MicrosoftYaHei;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #666666;
}

.area-6 .item1 {
    background-color: #ffffff;
    margin-left: 6px;
    margin-top: 21px;
    width: 283px;
    float: left;
    height: 400px;
    border: 1px solid #E5E3DF;
}

.pc1 {
    width: 283px;
    height: 180px;
}

.small {
    width: 40px;
    height: 30px;
    background-image: url("../../testfile/recommend.png");
    position: absolute;
    top: 10px;
    left: -6px
}

.big {
    position: relative;
}

.tt {
    margin-top: 34px;
    width: 252px;
    margin-left: 15px;
}

.a6_content {
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 45px;
}

.recommend {
    width: 30px;
    height: 15px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 5px;
}

.area-6 .item {
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 21px;
    width: 283px;
    float: left;
    height: 400px;
    border: 1px solid #E5E3DF;
}

.a6_head {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.a6_head_div {
    float: left;
    margin-left: 15px;
}

.a6_name_div {
    float: left;
    margin-left: 5px;
}

.a6_time_div {
    float: left;
    margin-left: 15px;
}

.area-7 {
    margin: 20px 0;
}

.area-7 .title {
    clear: both;
    height: 20px;
}

.area-7 .item {
    width: 1200px;
    float: left;
    height: 100px;
    border: 1px solid #E5E3DF;
    background-color: #ffffff;
}

.can {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    width: 64px;
    height: 17px;
}

.author {
    width: 64px;
    height: 17px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #999999;
}

.author1 {
    float: left;
    width: 260px;
    height: 44px;
    margin-top: 46px;
    margin-left: -64px;
    background-color: #F6F6F6;
    border-radius: 22px
}

.author2 {
    float: left;
    width: 260px;
    height: 44px;
    margin-top: 46px;
    margin-left: 44px;
    background-color: #F6F6F6;
    border-radius: 22px
}

.a7_head_div {
    float: left;
    margin-left: 5px;
    margin-top: 7px;
}

.a7_name_div {
    float: left;
    margin-left: 5px;
}

.a7_write {
    margin-left: 5px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #666666;
}

.a7_cont {
    overflow: hidden;
    height: 18px;
    width: 160px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
    margin-top: -4px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.last_content_picture {
    float: left;
    margin-left: -5px;
    margin-top: 17px;
}

.last_content_picture1 {
    float: left;
    margin-left: -5px;
    margin-top: 7px;
}

.last_star_true {
    background-image: url("../testfile/sprites.png");
    background-position: -183px -175px;
    background-repeat: no-repeat;
    height: 11px;
    width: 11px;
    float: left;
}

.last_star_false {
    background-image: url("../testfile/sprites.png");
    background-position: -182px -154px;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    float: left;
}

.join {
    width: 14px;
    height: 14px;
    color: #35c974;
    font-size: 25px;
}

.friend {
    float: right;
    /*margin-top: 11px;*/
    margin-right: 11px;
    height: 44px;
    line-height: 44px;
    color: #35c974;
    display: inline-block;
    cursor: pointer;
}

.a7_friend {
    height: 18px;
    float: right;
}

.a7_author {
    float: left;
    height: 12px;
    margin-top: 2px;
    margin-left: 4px;
}

.area-8 {
    clear: both;
    margin-top: 170px;
    position: relative;
}

.area-8 .title {
    height: 30px;
    line-height: 30px;
}

.area-8 .title .line {
    float: left;
    width: 7px;
    height: 100%;
    background: red;
}

.area-8 .title .name {
    margin-left: 20px;
    height: 100%;
    font-family: MicrosoftYaHei;
    font-size: 22px;
    letter-spacing: 0px;
    color: #666666;
}

.last_left {
    background-color: white;
    float: left;
    width: 405px;
    height: 200px;
}

#last_div {
    float: left;
    height: 60px;
    margin-left: -500px;
    background-color: #F6F6F5;
}

.last_book1 {
    float: left;
    width: 84px;
    height: 120px;
    margin-top: 25px;
    margin-left: 10px;
}

.last_left1 {
    background-color: #ffffff;
    float: left;
    width: 405px;
    height: 200px;
    margin-top: 16px;
}

.last_book {
    float: left;
    width: 84px;
    height: 120px;
    margin-top: 25px;
    margin-left: 10px;
}

.last_title {
    float: left;
    width: 276px;
    height: 18px;
    margin-left: 14px;
    margin-top: -5px;
}

.last_title_head {
    float: left;
    width: 276px;
    height: 18px;
    margin-left: 14px;
    margin-top: -30px;
}

.last_two_font {
    width: 296px;
    height: 120px;
    margin-top: 50px;
    margin-left: 109px;
}

.last_last_font {
    width: 296px;
    height: 120px;
    margin-top: 25px;
    margin-left: 109px;
}

.last_title_font {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #333333;
}

.last_comment {
    float: left;
    width: 276px;
    height: 14px;
    margin-left: 14px;
}

.last_advice {
    margin-top: 10px;
    float: left;
    width: 188px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.last_advice_head {
    margin-top: 2px;
    float: left;
    width: 188px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.right_div1 {
    width: 86px;
    height: 40px;
    float: left;
    margin-left: 0px;
    border-bottom: 1px solid #DEDEDE;
}

.right_div1.active{
    border-bottom: 1px solid  #ff825c;
}


.last_right_content_title {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
}

.div_center {
    width: 3px;
    height: 40px;
    float: left;
    margin-left: 2px;
}

.right_div2 {
    width: 2px;
    float: left;
    background-color: yellow;
    margin-left: 5px;
}

.last_content {
    float: left;
    width: 276px;
    height: 61px;
    margin-top: 27px;
    margin-left: 14px;
}

.last_content_head {
    float: left;
    width: 276px;
    height: 61px;
    margin-top: 20px;
    margin-left: 14px;
}

.last_content_font {
    margin-top: 16px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #333333;
    line-height: 21px
}

.area-8 .left {
    float: left;
    width: 840px;
    height: 100%;
}

.last_right_head {
    float: left;
    width: 360px;
    height: 40px;
    border-bottom: 1px solid #DEDEDE;
}

.last_right_body {
    float: left;
    width: 120px;
    height: 180px;
}

.last_right_book {
    background-image: url("");
    float: left;
    width: 70px;
    height: 100px;
    margin-top: 30px;
    margin-left: 25px;
    background-color: #333333;
}

.book_style {
    width: 70px;
    height: 100px;
}

.body_top {
    float: left;
    margin-top: -20px;
}

.last_right_content {
    width: 100px;
    height: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.sale_book {
    float: left;
    margin-top: -4px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #333333;
}

.num1 {
    background-image: url("../../testfile/sprites.png");
    background-position: -374px -12px;
    background-repeat: no-repeat;
    height: 27px;
    width: 32px;
    float: left;
    width: 24px;
    height: 29px;
    margin-left: 10px;
    margin-top: -115px;
}

.num2 {
    background-image: url("../../testfile/sprites.png");
    background-position: -374px -50px;
    background-repeat: no-repeat;
    height: 27px;
    width: 32px;
    float: left;
    width: 24px;
    height: 29px;
    margin-left: 10px;
    margin-top: -115px;
}

.num3 {
    background-image: url("../../testfile/sprites.png");
    background-position: -374px -87px;
    background-repeat: no-repeat;
    height: 27px;
    width: 32px;
    float: left;
    width: 24px;
    height: 29px;
    margin-left: 10px;
    margin-top: -115px;
}

.num4 {
    background-image: url("../../testfile/sprites.png");
    background-position: -374px -126px;
    background-repeat: no-repeat;
    height: 27px;
    width: 32px;
    float: left;
    width: 24px;
    height: 29px;
    margin-left: 10px;
    margin-top: -115px;
}

.num_book {
    float: left;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #ffffff;
    margin-left: 8px;
    margin-top: -1px;
}

.last_right_body1 {
    float: left;
    width: 120px;
    height: 180px;
    background-color: #ffffff;
}

.last_right {
    width: 360px;
    height: 400px;
    margin-top: 16px;
}

.area-8 .right {
    float: left;
    height: 100%;
    width: 360px;
}