body {
    margin: 0;
    padding: 0;
}

.head {
    width: 100%;
    height: 80px;
    border-bottom: #E5E3DF 1px solid;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.about {
    margin: 0 auto;
    width: 400px;
    height: 50px;
}

.about .item {
    float: left;
    width: 99px;
    text-align: center;
    border-left: 1px solid #9A9691;
}
.copyright{
    text-align: center;
    margin-top: 15px;
}