table {
    width: 1180px;
    margin: 0 auto;
}

td.label {
    width: 110px;
}

td.input {
    width: 200px;
}

tr {
    height: 60px;
    line-height: 60px;
    font-family: MicrosoftYaHei;
}

.td-font {
    height: 12px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0px;
    color: #333333;
    padding-right: 10px;
}

.td-title {
    width: 58px;
    height: 15px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    font-weight: bold;
    padding-left: 20px;
}

.red {
    color: red;
}

.head {
    padding: 30px 0;
    padding-left: 20px;
    position: relative;
}

.head > img {
    width: 120px;
    height: 120px;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0.5;
    border: 0px solid red;
    float: left;

}

.head > .modify {
    position: absolute;
    top: 30px;
    left: 20px;
    color: #ffffff;
    width: 120px;
    height: 120px;
    z-index: 9;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
}

.head > .links {
    float: left;
    margin-left: 20px;
}

.head > .links a {
    display: block;
    cursor: pointer;
    text-decoration:none;
}

.head > .links .manager {
    margin-top: 70px;
    margin-bottom: 15px;
    color: #333333;
    /*text-decoration: underline;*/
}

.head > .links .password {
    color: #e52e2e;
}

.select-wrapper {
            background: #f1f1f1;
        }

        .select-button {
            background: #f1f1f1;
            padding-left: 20px;
        }