<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.commuser.reportprogress.dao.ReportProgressDao">
	
	<!--获取教材审核进度  -->
	<select id="getMaterialProgress" parameterType="java.util.Map" resultType="TextBookCheckVO">
		SELECT 
			dc.`material_id`,
			dc.`offline_progress`,
			dc.`online_progress`
		FROM 
			`declaration` dc 
		WHERE
			 dc.`material_id` =#{materialId}
		AND 
			dc.`user_id`=#{userId}
	</select>
	
	<!-- 获取申报教材中书籍审核结果 -->
	<select id="getTextBookCheckResult" parameterType="java.util.Map" resultType="TextBookCheckVO">
		SELECT 
			d.`material_id`,dp.`textbook_id`,
			tb.`textbook_name`,d.`user_id`,
			dp.`chosen_position`,dp.`rank`,
			tb.`is_chief_chosen`,tb.`is_published` 
		FROM 
			`dec_position` dp 
		LEFT JOIN 
			`declaration` d
		ON 
			dp.`declaration_id` = d.`id` 
		LEFT JOIN 
			`textbook` tb
		ON 
			tb.`id`= dp.`textbook_id`
		LEFT JOIN 
			`material` m
		ON 
			tb.`material_id` = m.`id`
		WHERE 
			d.`user_id`=#{userId}
		AND 
			d.`material_id`=#{materialId}
	</select>

</mapper>