.body {
    width: 100%;
    background: #FFFFFF;
}

.top {
    margin-top: 40px;
    float: left;
}

.title {
    float: left;
    margin-top: -15px;
}

.bt {
    margin-top: 18px;
}

.lj {
    float: left;
    margin-top: 40px;
    margin-left: -280px;
}

.top1 {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #999999;
}

.top2 {
    float: left;
    font-family: MicrosoftYaHei;
    font-size: 24px;
    color: #333333;
    margin-top: 5px;
}

.top3 {
    float: left;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #999999;
    margin-left: 20px;
    margin-top: 10px;
}

#table {
    float: left;
    width: 1200px;
    height: 705px;
    border: 1px solid #DDDDDD;
    margin-top: 12px;
}

.message {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

.tb2 {
    width: 100%;
    height: 577px;
    margin-top: 83px;
}

.utf {
    float: right;
    margin-top: 25px;
}

#tb1 {
    float: left;
    width: 100%;
    height: 40px;
}

.iu1 {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 10px;
    width: 208px;
    height: 38px;
    line-height: 38px;
    background-color: #ffffff;
    border: solid 1px #ededed;

}

.iu2 {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    width: 208px;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px #ededed;
}

.div1 {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    width: 88px;
    height: 33px;
    background-color: #1899DD;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    font-family: MicrosoftYaHei
}

.div2 {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    width: 60px;
    height: 33px;
    background-color: #F7BD3F;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    font-family: MicrosoftYaHei
}

.div3 {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    width: 60px;
    height: 33px;
    background-color: #1899DD;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    font-family: MicrosoftYaHei
}

table,tr,td{
    padding: 0;
    margin: 0;
}
table{
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
}
table thead tr{
    height: 46px;
    line-height: 30px;
    background-color:#f0f0f0;
}
table thead td{
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    border: 3px solid #fff;
}
table tbody tr{
    height: 46px;
    line-height: 30px;
    font-family: SimSun;
}

table tr:hover{background:#fff4e5;}



table tbody tr:nth-child(odd){

    text-align: center;
}

table tbody tr:nth-child(even){
    text-align: center;
    background-color:#f0f0f0;

}

td input[type='checkbox'] {
    width: 16px;
    height: 16px;
    display: block;
    margin: auto;
}

td a {
    color: #03717b;
    text-decoration: none;
}
