body 
{
    margin: 0;
    padding: 0;
}

.sxy-div-content
{
    width: 1200px;
    margin: 0 auto;
    background-color:White;
}

.sxy-div-menu
{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	height:50px;
	line-height: 50px;
	letter-spacing: 0px;
	color: #999999;
	margin-left:20px;
	cursor:pointer;
	float:left;
    }
    
 /*深色页头二级菜单点击出现下划线*/
 .sxy-span-menu{
    border-bottom:2px solid #259980;
}

/*********************************************/
.sxy-txt2
{
    width: 1180px;
    height: 40px;
    background-color: #f1f1f1;
    font-family: MicrosoftYaHei;
    border: none;
    padding-left: 20px;
    border-radius: 4px;
}

.sxy-div-content2
{
    width: 1200px;
    height:56px;
    margin: 0 auto;
}

.sxy-div-content3
{
    width: 1200px;
    height:30px;
    margin: 0 auto;
}

.sxy-div-content4
{
    width: 1200px;
    height:40px;
    margin: 0 auto;
}

.sxy-font1
{
    width: 73px;
	height: 17px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #666666;
}

.sxy-btn {
    border: none;
    width: 75px;
    height: 25px;
    background-color: #70bcc3;
    font-family: MicrosoftYaHei;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
}

#sxy-return
{
    text-align:center;
}