<div class="item" onclick="openUrl('$!{url}')">
    <div class="ir_01"><img src="$!{img}"/></div>
    <div class="ir_02" title="$!{bookname}"><span>$!{bookname}</span></div>
    <div class="ir_03" title="$!{author}"><span>$!{author}</span></div>
</div>
