<div class="item" onclick="openUrl('$!{url}')">
	#if($ordernum == 1)	
    <div class="flag red">
        $!{ordernum}
    </div>
    #elseif($ordernum == 2)
    <div class="flag orange">
        $!{ordernum}
    </div>
    #elseif($ordernum == 3)
    <div class="flag yellow">
        $!{ordernum}
    </div>
    #else
    <div class="flag grey">
        $!{ordernum}
    </div>
    #end
    <img class="pic" src="$!{img}" alt="">
    <div class="name" title="$!{bookname}">$!{bookname}</div>
</div>
