.content-body{
    font-family: MicrosoftYaHei;
    width: 1200px;
    margin: 0 auto;

}

.div_top{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin:28px 0 0 0;
    color: #999999;
    text-align: left;
}

.div_content{
    width: 1134px;
    background-color: #f8f8f8;
    padding: 0 49px 0 15px;
    height: 50px;
    margin-top: 28px;

}
.div_content_left{
    height: 50px;
    line-height: 50px;
    margin:0;
    padding:0;
    float: left;
}

.div_content_right{
    float: right;
    height: 50px;
    line-height: 50px;
}
.clicked{
    color: #333333;
    border-bottom: 2px solid #999999;
    padding-bottom: 15px;
    font-size: 16px;
}
.clickbefore{
    color: #999999;
}

.left{
    width: 830px;
    float:left;
}

.items{
    width:830px;
    position: relative;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    text-align: left;
    transition: all .28s;
    -moz-transition: all .28s; /* Firefox 4 */
    -webkit-transition: all .28s; /* Safari 和 Chrome */
    -o-transition: all .28s; /* Opera */
}
.items:hover{
    box-shadow: 4px 4px 4px rgba(0,0,0,.1);
}

.items_img{
    position: absolute;
    top:4px;
    left:-10px;
    background-image: url(/statics/image/wenzhangtuijian.png);
    font-size:12px;
    color: #fff;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    background-repeat: no-repeat;
}

.item1{
    color:#333;
    font-size: 18px;
    padding:29px 0 0 15px;
}

.item2{
    padding:0 15px 0 19px;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}

.item3{
    border-top:1px solid #e9e9e9;
    width: 796px;
    font-size: 14px;
    color: #b5b5b5;
    padding:0 15px 0 19px;
    height: 56px;
    line-height: 56px;
}
.load-more{
    width: 140px;
    height: 36px;
    line-height: 36px;
    margin: 10px auto 0;
    color: #8f8e8e;
    cursor: pointer;
    text-align: center;
}
.load-more:hover{
    color: #333333;
    text-decoration: underline;
}
#sort-wrapper input{color: #333333;}