.body {
    background: #f6f6f6;;
}

.box {
    padding-top: 30px;
    padding-bottom: 60px;
    width: 1200px;
    background-color:  #f6f6f6;
}

.box-sm {

    padding: 0px 20px 40px 20px;
    padding-top: 30px;
    background: white;
}

.item {
    height: 40px;
    margin-bottom: 19px;
}
.title{
    float: left;
    margin-top: 8px;
    font-size: 16px;
    color: #333333;
}
.st_2 {
    margin-left: 20px;
    width: 600px;
    height: 40px;
    background-color: #f1f1f1;

}

.message {
    width: 1160px;
}

table, tr, td {
    padding: 0;
    margin: 0;
}

table {
    float: right;
    width: 1076px;
    border-collapse: collapse;

}

.check_box {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 2px;
    border: solid 1px #999999;
}

table thead tr {
    height: 46px;
    line-height: 30px;
    background-color: #dedede;
    border: solid 1px #dedede;
}

table thead td {
    text-align: center;
    font-family: MicrosoftYaHei;
    color: #333333;
    font-size: 14px;
    border: 1px solid #ffffff;
}

table tbody td {

    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    border: solid 1px #dedede;
}

table tbody tr {
    height: 46px;
    line-height: 30px;
    font-family: SimSun;
}

table tbody tr:hover {
    background: #fff4e5;
}

table tbody tr:nth-child(odd) {
    text-align: center;
}

table tbody tr:nth-child(even) {
    text-align: center;
    background: #f6f6f6;
}

.pg_right {
    float: right;
    margin-top: 30px;
}

.bom_btn {
    float: left;
    width: 1160px;
    height: 54px;
    border-top: 1px dotted #999999;
    margin-top: 40px;
}

.bom_btn_01 {
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 20px;
    width: 104px;
    height: 24px;
    background-color: #70bcc3;
    font-family: MicrosoftYaHe;
    color: #ffffff;
    border: none;
    border-radius: 2px;
}

.bom_btn_02 {
    width: 74px;
    height: 24px;
    background-color: #70bcc3;
    font-family: MicrosoftYaHe;
    color: #ffffff;
    border: none;
    border-radius: 2px;
}




