body 
{
    margin: 0;
    padding: 0;
}

.sxy-div-content
{
    width: 1200px;
    margin: 0 auto;
    background-color:White;
}

#sxy-div-left
{
    width:892px;
    float:left;   
}

#sxy-div-right
{
    width:275px;
    float:left;
    margin-left:31px;    
}

#sxy-textarea
{
    width: 886px;
    height:328px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height:1.6;
	letter-spacing: 1px;
	color: #666666;
	border: none;
}

/*-------------------------------------*/
.sxy-navigate
{
	height: 60px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height:60px;
	letter-spacing: 0px;
	color: #999999;
}

#sxy-title
{
	height: 40px;
	font-family: MicrosoftYaHei;
	font-size: 24px;
	font-weight: normal;
	line-height:40px;
	letter-spacing: 0px;
	color: #333333;
}

#sxy-like
{
	width: 140px;
	height: 26px;
    background-color:#f6f6f6;
	float:right;
	line-height:26px;
	margin-top:7px;
}
#sxy-like img{
	cursor: pointer;
}

#sxy-title2
{
	height: 22px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height:22px;
	letter-spacing: 0px;
	color: #999999;
	margin-bottom:20px;
}

.sxy-tr
{
	height: 12px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 12px;
	letter-spacing: 0px;
	color: #489299;
}

#sxy-btn
{
	width: 275px;
	height: 40px;
	background-color: #d81e06;
	border-radius: 2px;
	opacity: 0.7;
	color:White;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	margin-top:30px;
	border: none;
}

#sxy-font-top1
{
	width: 64px;
	height: 16px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #000000;
}

#sxy-font-top2
{
	width: 36px;
	height: 13px;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #999999;
	margin-bottom:5px;
}

.sxy-content{
	width: 892px;
	height: 327px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: 1px;
	color: #666666;
}

























    
    
    
    
    
    
    
    
    
    
    
    
    