body 
{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.sxy-div-content
{
    width: 1200px;
    margin: 0 auto;
    background-color:White;
}

.sxy-div-menu
{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	height:50px;
	line-height: 50px;
	letter-spacing: 0px;
	color: #999999;
	margin-left:20px;
	cursor:pointer;
	float:left;
    }
    
 /*深色页头二级菜单点击出现下划线*/
 .sxy-span-menu{
    border-bottom:2px solid #259980;
}

/*********************************************/

.sxy-tr
{
	height: 60px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 60px;
	letter-spacing: 0px;
}

.sxy-txt
{
    width: 260px;
    height: 40px;
    background-color: #f1f1f1;
    font-family: MicrosoftYaHei;
    border: none;
    padding-left: 20px;
    border-radius: 4px;
}

.sxy-btn {
    border: none;
    width: 100px;
    height: 25px;
    background-color: #70bcc3;
    font-family: MicrosoftYaHei;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
}

/************/
#sxy-spantopright
{
    float:right;
	height: 14px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 50px;
	letter-spacing: 0px;
	color: #999999;
}

#sxy-td-title
{
	width: 58px;
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #333333;
	font-weight:bold;
	padding-left:20px;
    }

#sxy-divtop
{
    width:607px;
    height:65px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #999999;
	padding-left:20px;
    }
    
.td-font-1
{
	height: 12px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #333333;
	padding-right:10px;
    }
    
.td-font-2
{
	height: 12px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #333333;
	padding-left:10px;
    }
    
.td-font-3
{
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #bebebe;
	padding-left:10px;
    }
    
.td-font-4
{
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #bebebe;
    }
    
.a-td
{
    width: 98px;
	height: 15px;
	font-family: MicrosoftYaHei;
	text-decoration: underline;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #03717b;
    }

.div-parent {
          width:40px;
          height:60px;
          float:left;
          /*border:2px solid #000;*/
          position:relative;
}

.div-child {
            width:20px;
            height:24px;
            margin: auto;  
            position: absolute;  
            top: 0; left: 0; bottom: 0; right: 0; 
}

.div-parent2 {
          width:14px;
          height:60px;
          float:left;
          /*border:2px solid #000;*/
          position:relative;
}

.div-child2 {
            width:14px;
            height:16px;
            margin: auto;  
            position: absolute;  
            top: 0; left: 0; bottom: 0; right: 0; 
}

.sxy-select-td
{
    width: 280px;
	height: 40px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: none;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
}


#sxy-btn-upload
{
    width: 100px;
	height: 36px;
	margin:10px;
	background-color: #03717b;
	border-radius: 4px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}

.td-font-last
{
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #bebebe;
}

.btn-2 {
    border: none;
    width: 75px;
    height: 25px;
    background-color: #70bcc3;
    font-family: MicrosoftYaHei;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
}