body 
{
    margin: 0;
    padding: 0;
	background: #F6F6F6;
}
/*红色 * */
.must-star{
	color: #FF0000;
}
.sxy-div-content
{
    width: 1200px;
    margin: 0 auto;
    background-color:White;
}

.sxy-div-menu
{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	height:50px;
	line-height: 50px;
	letter-spacing: 0px;
	color: #999999;
	margin-left:20px;
	cursor:pointer;
	float:left;
	border-bottom:2px solid #666;
    }
    
 /*深色页头二级菜单点击出现下划线*/
 .sxy-span-menu{
    border-bottom:2px solid #666;
}

/*********************************************/

#sxy-userinfo-div
{
    width:160px;
    float:left;
	position: relative;
}

.sxy-userinfo-row
{
    height:15px;
}

#sxy-img1
{
    width:120px;
    height:120px;
    margin:35px 20px 35px 20px;
}
.shade{
	position: absolute;
	top: 35px;
	left: 20px;
	width: 120px;
	height: 120px;
	background-color: rgba(0,0,0,0.5);
	/*兼容ie8*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
	border-radius: 10px;
	text-align: center;
	line-height: 120px;
	color: #fff;
	cursor: pointer;
}
#sxy-font-1
{
    width: 56px;
	height: 15px;
	font-family: MicrosoftYaHei;
	text-decoration: underline;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}

#sxy-font-2
{
	width: 56px;
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #e52e2e;
}
/*基本信息几个字样式*/
#sxy-font-3
{
	width: 58px;
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}

.sxy-tr
{
	height: 60px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 60px;
	letter-spacing: 0px;
}

.sxy-txt
{
    width: 260px;
    height: 40px;
    background-color: #f1f1f1;
    font-family: MicrosoftYaHei;
    border: none;
    padding-left: 20px;
    border-radius: 4px;
	font-size: 14px;
	color: #333333;
	line-height: 40px;
}

.sxy-txt2
{
    width: 850px;
    height: 40px;
    background-color: #f1f1f1;
    font-family: MicrosoftYaHei;
    border: none;
    padding-left: 20px;
    border-radius: 4px;
}

/*选择下拉框*/
.sxy-select-td 
{
    width: 280px;
	line-height: 40px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: none;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
}

.sxy-radio
{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
}

.sxy-fontdiv
{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #1abd44;
	background-position:center;
}

#sxy-bottomdiv
{
    height:50px;
    width:1160px;
    background-color:Aqua;
    margin-left:20px;
    margin-top:10px;
}

#sxy-bottomdiv-title
{
    width:57px;
    height:50px;
    background-color:Yellow;
    font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height:50px;
	color: #333333;
}

.sxy-bottom-div
{
    height:30px;
    float:left;
    margin-right:10px;
    line-height:30px;
    background-color:#f1f1f1;
}

.sxy-bottom-font
{
	height: 14px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #1abd44;
	margin-left:10px;
	margin-right:10px;
}

.sxy-btn {
    border: none;
    width: 75px;
    height: 25px;
    background-color: #70bcc3;
    font-family: MicrosoftYaHei;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
}

.select-wrapper {
	background: #f1f1f1;
}

.select-button {
	background: #f1f1f1;
	padding-left: 20px;
}