.area1 {
    width: 100%;
    height: 412px;
    margin-top: 10px;
}

.banner {
    width: 814px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    float: left;
    text-align: center;
}

.op-link {
    width: 385px;
    height: 400px;
    background-color: #383837;
    opacity: 0.7;
    /*    background: chartreuse;*/
    float: right;
}

.area2 {
    /* margin-top: 40px;*/
}

.area3 {
    float: left;
    width: 832px;
}

.mkbt {
    font-family: '微软雅黑';
    font-size: 18px;
    color: #29355b;
}

.block {
    clear: both;
    margin-top: 40px;
    margin-bottom: 20px;
}

.tab-bar {
    height: 34px;
    border-bottom: 2px solid;
    border-bottom-color: #9B9D58;
    margin-top: 20px;
}

.tab-bar .tab {
    height: 20px;
    line-height: 20px;
    padding: 7px 12px;
    float: right;
    cursor: pointer;
}

.tab-bar .recommend {
    color: #9B9D58;
    background: white;
}

.tab-bar .recommend.active {
    background: #9B9D58;
    color: white;
}

.tab-bar .remark {
    float: left;
    line-height: 34px;
}

/**重点关注**/
.content {
    width: 100%;
    margin-top: 20px;
    height: 100%;
}

.content .item {
    width: 166px;
    float: left;
    height: 270px;
    cursor: pointer;
}

.ir_01 {
    width: 138px;
    height: 160px;
    margin: auto;
}

.ir_01 img {
    width: 138px;
    height: 160px;
}

.ir_02 {
    width: 138px;
    height: 25px;
    margin-top: 10px;
    margin: auto;
}

.ir_02 span {
    font-family: 微软雅黑;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    letter-spacing: 1px;
}

.ir_03 {
    width: 138px;
    margin: auto;
    margin-top: 18px;

}

.ir_03 span {
    font-family: 微软雅黑;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px;
}

.xs_01 img {
    width: 138px;
    height: 160px;
}

.xs_02 {
    width: 138px;
    height: 25px;
    margin-top: 10px;
}

.xs_02 span {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: 1px;
    color: #333333;
}

.span_1 {
    background-image: url(../../image/css_sprites.png);
    background-position: -96px -309px;
    background-repeat: no-repeat;
    height: 25px;
    width: 30px;
    float: left;
    margin-top: 4px;
}

/**分页**/
.tab-bar .type {
    color: #FC9C03;
    background: white;
}

.tab-bar .type.active {
    background: #FC9C03;
    color: white;
}

.tab-bar .type-small {
    float: right;
    padding: 10px;
    color: #B3AFA9;
    padding-bottom: 13px;
}

.tab-bar .point {
    float: right;
    width: 3px;
    background: #B3AFA9;
    height: 3px;
    margin-top: 18px;
}

.tab-bar .page {
    float: right;
    width: 80px;
    height: 100%;
}

.tab-bar .favorite {
    color: #099292;
    background: white;
}

.tab-bar .favorite.active {
    background: #099292;
    color: white;
}

#span_2 {
    background-image: url(../../image/css_sprites.png);
    background-position: -94px -275px;
    background-repeat: no-repeat;
    height: 25px;
    width: 30px;
    float: left;
}

/**热门书评**/

.block .title {
    height: 30px;
    line-height: 30px;
}

.block .title .line {
    float: left;
    width: 7px;
    height: 100%;
    background: #FF0000;
}

.block .title .name {
    margin-left: 20px;
    width: 93px;
    height: 100%;
    font-family: MicrosoftYaHei;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #666666;
}

.block .items {
    width: 100%;
}

.block .item1 {
    float: left;
    width: 416px;
    height: 170px;
}

.sp_01 {
    float: left;
    height: 100%;
    width: 100px;
}

.sp_02 {
    float: left;
    margin-left: 5px;
    height: 100%;
    width: 300px;
}

.sp_title {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #333333;
}

.sp_pl {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 1px;
    color: #999999;
}

.sp_remark {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #333333;
}

/**图书分类**/
.area4 {
    float: right;
}

.tsfl {
    font-family: 微软雅黑;
    font-size: 18px;
    color: #29355b;
}

.rg_content {
    margin-top: 45px;
    /*   width: 335px;*/
}

.hot-list {
    width: 336px;
}

.hot-list .item {
    position: relative;
    float: left;
    width: 112px;
    height: 160px;
    cursor: pointer;
}

.hot-list .item .flag {
    position: absolute;
    top: 5px;
    left: 13px;
    background-image: url("../../image/css_sprites.png");
    /* background-position: -374px -10px;*/
    background-repeat: no-repeat;
    width: 24px;
    height: 29px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    font-size: 14px;
}

.hot-list .item .flag.red {
    background-position: -374px -10px;
}

.hot-list .item .flag.orange {
    background-position: -374px -49px;
}

.hot-list .item .flag.yellow {
    background-position: -374px -88px;
}

.hot-list .item .flag.grey {
    background-position: -374px -127px;
}

.hot-list .item .pic {
    max-width: 86px;
    height: 100px;
    margin: 5px auto;
    display: block;
}

.hot-list .item .name {
    text-align: center;
    color: #333333;
}

/**改变之前的颜色**/
.ts_type {
    background-color: #dbe9ea;
    height: 28px;
    margin-right: 10px;
    line-height: 28px;
    padding: 0px 9px;
    float: left;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
}

/**改变之后的颜色**/
.ts_type1 {
    background-color: #489399;
}

.ts_type span {
    color: #489399;
}

.ts_type1 span {
    color: white;
}

.part_1 {
    margin-top: 20px;
    width: 100%;
}

.part_1 span {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 1px;
}

.part_2 {
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
}

.part_2 span {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 1px;
    color: #489299;
    margin-left: 10px;
    display: inline-block;
}

.tsfl_1 {
    width: 350px;
}
