.body {
    background: url("../image/ypzj_bg.png");
    padding-bottom: 60px;
}

.wrapper {
    position: relative;
}

.myinfo {
    margin-left: 200px;
    height: 190px;
}

.head {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 0;

}

/*.head .bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 100%;

}*/
.head img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: 10px solid white;
    border-radius: 50%;
}

.content {
    background: white;
    height: auto;
    float: none;
    padding-right: 20px;
    padding-left: 20px;
    /*margin-bottom: 60px;*/
}

.content .left {
    width: 870px;
    float: left;
    height: auto;
    background-color: #FFFFFF;
    padding-top: 55px;
    margin-right: 15px;
    /* min-height: ;*/
}

.content .right {
    float: left;
    background-color: #FFFFFF;
    height: auto;
    width: 255px;
    margin-top: 30px;
    padding-top: 55px;
    margin-left: 20px;
    /* min-height: ;*/
}

.headr {
    padding-top: 65px;
}

#sex {
    background-image: url(../image/css_sprites.png);
    background-position: -144px -309px;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    float: left;
}

#name {
    font-size: 24px;
    font-style: normal;
    float: left;
    margin-right: 9px;
}

#zjrz {
    background-image: url(../image/css_sprites.png);
    background-position: -10px -435px;
    height: 20px;
    width: 16px;
    background-repeat: no-repeat;
    float: left;
}

#jsrz {
    background-image: url(../image/css_sprites.png);
    background-position: -10px -460px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

#kefu {
    background-image: url(../image/kefu.png);
    height: 20px;
    width: 18px;
    background-repeat: no-repeat;
    float: left;
    background-position: 1px 5px;
}

#shou {
    background-image: url(../image/shou.png);
    height: 20px;
    width: 18px;
    background-repeat: no-repeat;
    float: left;
    background-position: 1px 5px;
}

#dianhua {
    background-image: url(../image/dianhua.png);
    height: 20px;
    width: 18px;
    background-repeat: no-repeat;
    float: left;
    background-position: 1px 5px;
}

#zhsz {
    background-image: url(../image/css_sprites.png);
    background-position: -10px -409px;
    height: 20px;
    width: 16px;
    background-repeat: no-repeat;
    float: left;
}

.grsx {
    float: left;
    height: 32px;
    font-size: 12px;
    text-align: justify;
    color: #03717b;
    margin-left: 11px;
    width: 88px;
}

#bianji {
    background-image: url(../image/css_sprites.png);
    background-position: -461px -250px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

#sanchu {
    background-image: url(../image/css_sprites.png);
    background-position: -461px -276px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

#wdscx {
    background-image: url(../image/css_sprites.png);
    background-position: -462px -101px;
    height: 16px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

#wdsc {
    background-color: #FFFFFF;
    float: none;
    height: 360px;
    width: 255px;
}

#wdhy {
    background-color: #FFFFFF;
    height: 320px;
    width: 255px;
}

#wdxz {
    background-color: #FFFFFF;
    height: 420px;
    width: 255px;
}

#bzzx {
    height: 235px;
    width: 253px;
    border: 1px solid #dddddd;
    background-color: #FFFFFF;
    margin-bottom: 98px;
}

#grqm {
    font-size: 14px;
    color: #888888;
    height: 15px;
}

#dtfenlan {
    font-size: 16px;
    color: #333333;
    text-align: center;
    height: 33px;
    width: 247px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
}

.xz {
    font-size: 16px;
    color: #333333;
    float: left;
    list-style-type: none;
    width: auto;
    text-align: center;
    margin-right: 40px;
    padding-bottom: 16px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #03717b;
}

.dtl {
    font-size: 16px;
    color: #333333;
    float: left;
    list-style-type: none;
    width: auto;
    text-align: center;
    margin-right: 40px;
    padding-bottom: 16px;
}

.dtl.active {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #03717b;
}

.rlan {
    font-size: 16px;
    float: left;
    text-align: center;
    color: #000000;
}

#xiaoxitongguo {
    background-image: url(../image/css_sprites.png);
    background-position: -462px -188px;
    height: 20px;
    width: 18px;
    background-repeat: no-repeat;
    float: left;
}

#hytb {
    background-image: url(../image/css_sprites.png);
    background-position: -463px -123px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
}

#xztb {
    background-image: url(../image/xiaozutubiao.png);
    height: 23px;
    width: 20px;
    background-repeat: no-repeat;
    float: left;
    background-position: 0px 3px;
}

#jiantou {
    background-image: url(../image/sx.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    float: right;
    background-position: 1px 1px;
}

#hyp {
    float: right;
    font-size: 12px;
    color: #999999;
}

#qbhy {
    float: right;
    font-size: 12px;
    color: #999999;
    padding-right: 5px;
}

.sclb {
    float: left;
    height: 130px;
    width: 80px;
    font-size: 12px;
    color: #333333;
    list-style-type: none;
    margin-left: 3px;
    margin-top: 19px;
    display: block;
}

.sctp {
    height: 80px;
    width: 56px;
    margin: 0 auto;
    display: block;
}

.scul {
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.dhl {
    margin: 0px;
    padding: 0px;
    float: none;
}

.wdxz {
    font-size: 12px;
    color: #03717b;
    float: left;
    height: 90px;
    width: 65px;
    list-style-type: none;
    margin-top: 23px;
    margin-right: 3px;
    margin-left: 12px;
    text-align: center;
}

.hylb {
    font-size: 12px;
    color: #333333;
    float: left;
    height: 70px;
    width: 45px;
    list-style-type: none;
    text-align: center;
    margin-top: 23px;
    margin-right: 3px;
    margin-left: 12px;
}

.xztp {
    height: 44px;
    width: 44px;
}

.xzrs {
    font-size: 12px;
    color: #999999;
}

#bzxxherd {
    background-color: #eef1f8;
    height: 4px;
    width: 253px;
}

#bzxxherd2 {
    background-color: #eef1f8;
    height: 1px;
    width: 253px;
}

.bzzxwz {
    font-size: 12px;
    margin: 10px;
}

#wdsbssk {
    border: 1px solid #81b8bd;
    font-size: 12px;
    color: #81b8bd;
    height: 26px;
    width: 238px;
    background-image: url(../image/sousuo-helpCenter.png);
    background-repeat: no-repeat;
    background-position: 200px;
    float: right;
}

#bzzxcxk {
    font-size: 12px;
    color: #bcbcbc;
    height: 28px;
    width: 231px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url(../image/sousuo-helpCenter.png);
    background-repeat: no-repeat;
    background-position: 200px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

.bzzxlb {
    font-size: 14px;
    color: #999999;
    line-height: 24px;
    list-style-type: none;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
}

.zzfw {
    float: left;
    width: 210px;
    margin-top: 0px;
    margin-bottom: 14px;
    margin-left: 11px;
}

#dongtai {
    width: 870px;
    height: 500px;
    float: left;
}

#jiaocaishenbao {
    width: 870px;
    float: left;
    height: 500px;
}

#suibiwenzhang {
    width: 870px;
    height: 500px;
    float: left;
}

#zuixinshuping {
    width: 870px;
    height: 500px;
    float: left;
}

#dhxian {
    float: left;
    height: 1px;
    width: 870px;
    background-color: #f1f1f1;
    margin-bottom: 15px;
}

#tzxian {
    float: left;
    height: 1px;
    width: 870px;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dtshang {
    width: 870px;
    font-size: 14px;
    color: #999999;
}

.shangleft {
    float: left;
}

.shangright {
    float: right;
}

.xiaoxi {
    width: 870px;
    margin-top: 20px;
}

.dtzhong {
    width: 870px;
    margin-top: 19px;
    float: left;
}

#xiewenzhang {
    height: 20px;
    width: 88px;
    background-image: url(../image/xiewenzhang.png);
    float: left;
    background-repeat: no-repeat;
    background-position: 1px 4px;
    margin-left: 2px;
}

#xinxiaoxi {
    height: 18px;
    width: 40px;
    background-image: url(../image/xinxiaoxi.png);
    float: left;
    background-repeat: no-repeat;
    background-position: 1px 5px;
}

#shenhezhongwd {
    height: 20px;
    width: 70px;
    background-image: url(../image/shenhezhong.png);
    float: left;
    background-repeat: no-repeat;
    background-position: 1px 2px;
}

#pingluntu {
    background-image: url(../image/sp_01.png);
    background-repeat: no-repeat;
    float: left;
    height: 120px;
    width: 85px;
    background-position: 3px 5px;
    margin-right: 25px;
}

#shenhezhong {
    background-image: url(../image/%E5%8C%BB%E5%AD%A6%E9%9A%8F%E7%AC%941.png);
    background-repeat: no-repeat;
    float: left;
    height: 133px;
    width: 190px;
    background-position: 3px 6px;
    margin-right: 30px;
}

.suibibiaoti {
    font-size: 16px;
    color: #333333;
    padding-bottom: 16px;
}

.suibineirong {
    font-size: 12px;
    color: #666666;
    margin-top: 16px;
}

.suibibt {
    float: left;
    margin-bottom: 14px;
    width: 650px;
}

.pinlunbt {
    float: left;
    margin-bottom: 14px;
    width: 760px;
}

.dtxia {
    float: left;
    width: 870px;
    margin-top: 15px;
}

.dtxiawz {
    font-size: 14px;
    color: #9aaabf;
    float: left;
    margin-right: 19px;
}

.pinglunlr {
    font-size: 12px;
    color: #999999;
}

.pinlunxinji {
    background-image: url(../image/css_sprites.png);
    background-position: -181px -171px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    float: left;
}

.pinlunxinjihei {
    background-image: url(../image/css_sprites.png);
    background-position: -181px -150px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    float: left;
}

.jiazaigengduo {
    font-size: 14px;
    color: #999999;
    float: left;
    width: 780px;
    text-align: center;
    margin-bottom: 38px;
}

#jcsbqb {
    width: 60px;
    background-image: url(../image/jcsbqb.png);
    background-repeat: no-repeat;
    height: 30px;
    float: left;
}

#jcsbwdsb {
    width: 100px;
    background-image: url(../image/jcsbwdsb.png);
    background-repeat: no-repeat;
    height: 30px;
    float: left;
}

.jcsbssl {
    height: 40px;
    width: 870px;
}

.jcsbsbzt {
    width: 76px;
    height: 26px;
    background-color: #E6F1F3;
    float: left;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
    color: #03717b;
}

.leftlb {
    width: 425px;
    height: 170px;
    list-style-type: none;
    float: left;
    background-color: #ffffff;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}

.rightlb {
    width: 425px;
    height: 170px;
    list-style-type: none;
    float: left;
    background-color: #ffffff;
    border: 1px solid #dedede;
    margin-left: 16px;
    margin-bottom: 20px;
}

.mleft3 {
    height: 170px;
    width: 135px;
    float: left;
    background-color: #d5d5d5;
    text-align: center;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #dedede;
}

.mleft2 {
    height: 170px;
    width: 135px;
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #dedede;
}

.mleft1 {
    height: 170px;
    width: 135px;
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #dedede;
}

.mleft {
    height: 170px;
    width: 136px;
    float: left;
    background-color: #7acdd4;
    text-align: center;
}

.mright {
    float: left;
    height: 170px;
    width: 288px;
    text-align: center;
}

.ysbrs {
    width: 136px;
    float: left;
    height: 90px;
    font-size: 14px;
    color: #FFFFFF;
}

.ysbrs1 {
    width: 134px;
    float: left;
    height: 80px;
    font-size: 14px;
    color: #FFFFFF;
}

.ysbrs2 {
    width: 134px;
    float: left;
    height: 90px;
    font-size: 14px;
    color: #489299;
}

.ysbrs3 {
    width: 134px;
    float: left;
    height: 90px;
    font-size: 14px;
    color: #FFFFFF;
}

.bmcj3 {
    float: left;
    height: 80px;
    width: 134px;
}

.bmcj2 {
    float: left;
    height: 80px;
    width: 134px;
}

.bmcj1 {
    float: left;
    height: 90px;
    width: 134px;
}

.bmcj {
    float: left;
    height: 80px;
    width: 136px;
}

.canjiarenshu {
    font-size: 28px;
    color: #FFFFFF;
}

.canjiarenshu1 {
    font-size: 28px;
    color: #489299;
}

.canjiarenshu2 {
    font-size: 28px;
    color: #489299;
}

.canjiarenshu3 {
    font-size: 28px;
    color: #FFFFFF;
}

.baomingrenshu {
    width: 136px;
    margin-top: 25px;
}

.baomingrenshu1 {
    width: 134px;
    margin-top: 18px;
    color: #489299;
}

.baomingrenshu2 {
    width: 134px;
    margin-top: 25px;
}

.baomingrenshu3 {
    width: 134px;
    margin-top: 25px;
}

.ybmcj3 {
    font-size: 14px;
    color: #999999;
}

.ybmcj2 {
    font-size: 14px;
    color: #7acdd4;
}

.ybmcj1 {
    font-size: 14px;
    color: #7acdd4;
}

.ybmcj {
    font-size: 14px;
    color: #489299;
}

.bmcjan3 {
    width: 98px;
    height: 31px;
    font-size: 16px;
    color: #999999;
    text-align: center;
    border: 1px solid #FFFFFF;
    float: left;
    margin-top: 4px;
    margin-right: 17px;
    margin-bottom: 31px;
    margin-left: 17px;
    padding-top: 3px;
    background-color: #d5d5d5;
    border-radius: 18px;
}

.bmcjan2 {
    width: 98px;
    height: 31px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    float: left;
    margin-top: 4px;
    margin-right: 17px;
    margin-bottom: 31px;
    margin-left: 17px;
    padding-top: 3px;
    background-color: #7acdd4;
    border-radius: 18px;
}

.bmcjan {
    width: 98px;
    height: 31px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    float: left;
    margin-top: 4px;
    margin-right: 17px;
    margin-bottom: 31px;
    margin-left: 17px;
    padding-top: 3px;
    border-radius: 18px;
}

.bmcjan1 {
    width: 98px;
    height: 31px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    float: left;
    margin-top: 4px;
    margin-right: 17px;
    margin-bottom: 0px;
    margin-left: 17px;
    padding-top: 3px;
    background-color: #7acdd4;
    border-radius: 18px;
}

.rshang {
    width: 287px;
    height: 70px;
}

.rxia {
    width: 287px;
    height: 70px;
}

.rshangn {
    width: 253px;
    height: 19px;
    text-align: left;
    font-size: 18px;
    color: #333333;
    margin-top: 30px;
    margin-right: 18px;
    margin-bottom: 19px;
    margin-left: 18px;
}

.rxian {
    width: 166px;
    height: 14px;
    margin-left: 18px;
    margin-top: 10px;
    font-size: 14px;
    color: #cbcbcb;
    text-align: left;
    float: left;
}

.cksbb1 {
    width: 134px;
    float: left;
    font-size: 14px;
    color: #7acdd4;
    margin-top: 10px;
}

.shenbaoliebiao {
    width: 870px;
    margin-bottom: 25px;
    height: 175px;
    margin-top: 10px;
}
