/*body{
    width: 870px;
    background-color: #f8f8f8;
}*/
.float_left {
    float: left;
}

.float_right {
    float: right;
}

.sender {
    max-width: 510px;
   /* min-width: 20px;*/
    font-size: 12px;
    position: relative;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    border-radius: 7px;
    color: #666666;
    background-color: #dee6ed;
    width: auto;
    text-align: left;
}

.triangle {
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    left: -15px;
    top: 10px;
}

.left_triangle {
    border-color: #f8f8f8 #dee6ed #f8f8f8 #f8f8f8;
}

.right_triangle {
    border-color: #f8f8f8 #f8f8f8 #f8f8f8 #dee6ed;
}

.div_txt {
    padding: 10px;
    margin: 0 auto;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    line-height: 24px;
    border-radius: 7px;
    color: #666666;
    background-color: #dee6ed;

}

.div_time {
    font-size: 12px;
    clear: both;
    text-align: left;
    min-height: 20px;
    line-height: 20px;
}

.chat_items {
    clear: both;
    margin: 0 auto;
    padding: 15px 20px;
}

/*.padding_left{
    padding-left: 10px;
}
.padding_right{
    padding-right: 10px;
}*/
.chat_item1 {
    margin: 0 auto;
    text-align: center;
    width: 70px;
    position: relative;
}

.chat_item2 {
    width: auto;
}

.other .chat_item1 {
    float: left;

}

.other .chat_item2 {
    float: left;
}

.arrows {
    width: 0;
    height: 0;
    position: absolute;
    top: 18px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.other .div_item1_img {
    margin-right: 26px;
}

.other .arrows {
    right: 0;
    border-right: 10px solid #dee6ed;
}

.other .chat_item2_time {
    text-align: left;
    clear: both;
}
.other .sender{

    float: left;
}

.mine .chat_item1 {
    float: right;
}

.mine .chat_item2 {
    float: right;
}

.mine .div_item1_img {
    margin-left: 26px;
}

.mine .arrows {
    left: 0;
    border-left: 10px solid #dee6ed;
}
.mine .chat_item2_time {
    text-align: right;
    clear: both;
}
.mine .sender{
    float: right;
}
.div_item1_img {
    width: 44px;
    height: 64px;
    font-size: 12px;
}

.div_item1_img img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.div_item1_img text {
    margin-top: 6px;
    color: #999999;
    display: block;
}

.div_tx_name {
    height: 20px;
    line-height: 20px;
    min-width: 44px;
    font-size: 12px;
}

.chat_item2_time {
    font-size: 12px;
    line-height: 20px;
    color: #d5d5d5;;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.color33 {
    color: #333;
}

.color66 {
    color: #666;
}

.color99 {
    color: #999;
}

.color03 {
    color: #03717b;
}



