body { margin: 0px;   padding: 0px;  text-align: center;  }
a{color:#666666;} /*设置默认颜色*/
a:link {color:blue;} /*未访问颜色*/
a:visited {color:gray;} /*已访问颜色*/
a:hover {color:red;} /*悬浮（鼠标经过）时颜色*/
a:active {color:yellow;} /*点击时的颜色*/
.content-body{
    width: 100%;
    margin: 0 auto;
    font-family: MicrosoftYaHei;

}
.content{
    width: 1200px;
    margin: 0 auto;

}
.left{
    width: 890px;
    float: left;
}
.right{
    width: 264px;
    float: left;
    padding-left: 45px;
}
.top{
    clear: both;
    margin-top:39px;
}
.div_img70{
    width: 120px;
    height: 120px;
    background-image: linear-gradient(0deg,#f1f1f1 100%,#fff);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    float:left
}

.img1{
    width: 106px;
    height: 106px;
    margin-top: 6px ;
}
.top_content{
    float:left;
    margin-left: 62px;
    margin-right: 191px;
}
.span1{
    font-size: 24px;
    color: #333333;
}
.top_content2{
    margin:22px 0 24px 0;
    padding: 0px;
    text-align: left;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    clear: both;
}

.top_content2 text{
    color: #03717b;
    margin-left: 12px;
    margin-right: 20px;
}

.top_content2 a{
    color: #999999;
}

.top_content22{
    position: relative;
    width: 16px;
    height: 24px;
    line-height:24px;
    float: left;
}
.top_content22 img{
    width: 16px;
    height: 16px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-8px 0 0 -8px;
}
.top_content22 text{
    color: #03717b;
    margin-left: 12px;
    margin-right: 20px;
}
.top_content3{
    width: 90px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #03717b;
    clear: both;
}

.top_content33{
    width: 20px;
    height: 20px;
    float: left;
    background-color: #03717b;
    position: relative;
}

.top_content33 img{
    width:12px;
    height:12px;
    position: absolute;
    top:50%;
    margin-top:-6px;
    left:50%;
    margin-left:-6px;

}

.file_upload{
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #489299;
    width: 70px;
}

.li_span1,.li_span2,#li_span3{
    background-image: url(../image/css_sprites.png);
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
}


.li_span1{
    margin-top: 2px;
    background-position: -461px -127px;
    height: 18px;
    width: 20px;
}
.li_span2{
    background-position: -461px -127px;
    margin: 0;
    padding:0;
    height: 18px;
    width: 19px;
    vertical-align: middle;

}
#li_span3{
    background-position: -461px -153px;
    height: 19px;
    width: 20px;
    margin-top:5px;
    vertical-align: middle;
}
.del_span{
    clear: both;
    height: 20px;
    width: 20px;
    background-image: url(../image/css_sprites.png);
    vertical-align: middle;
    background-position: -463px -280px;
    background-repeat: no-repeat;
    display: inline-block;

}

.top_tj{
    float:right;
}
.top_tj1,.top_tj2{
    float:left;
}
.top_tj label{
    width: 0px;
    height: 42px;
    border: dotted 1px #999999;
    margin: 2px 20px 0 30px;
    float:left;
}

.top_tj text{
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #999999;
}
.top_tj1_text1{
    font-size: 24px;
}
.top_tj1_text2{
    font-size: 14px;
}
.left_communions_files{
    padding: 42px 0 7px 0;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #489299;
    text-align: left;
    clear: both;
}
.left_communions_files span{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 0px;
    padding:8px 16px;
    margin: 0px;
}

.clicked{
    background:#489399;
    color: #ffffff;
}
.clickbefore{
    color: #489399;
}

.hidden{
    display: none;
    text-align: left;
    position: relative;
}
.show{
    display: block;
    text-align: left;
    position: relative;
}

.file_input{
    width: 445px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #d5d5d5;
    margin: 20px 0 24px 0;
    padding-left: 15px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: 1px;
    color: #666666;
}
.search{
    position: absolute;
    top:30px;
    left: 424px;
    width: 22px;
    height: 22px;

}

.items{
    padding:15px 0 0 0;
    width: 100% ;
    border-bottom:1px dotted darkgray;
}

.item_img1{
    width: 21px;
    height: 20px;
    border: none;
    vertical-align: middle;
}
.item1 span text{
    padding:0 50px 0 10px;
    font-size: 16px;
    color: #333;
    vertical-align: middle;

}

.item_img2{
    width: 20px;
    height:20px;
    padding:0 10px 0 0;
    vertical-align: middle;
}
.item2{
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    color: #cdcdcd;
    clear:both;
}
.item2_div1{
    float: left;
}

.groupcomposition{
    margin-top:39px;
}
.alwaysgroup{
    clear: both;
    margin-top:20px;
}
.ul_top{
    clear: both;
    padding-bottom: 9px;
    margin-bottom: 15px;
    border-bottom:1px dotted darkgray;
    width: 264px;
}
.groupcomposition .ul_top{
    line-height:22px;
    height: 22px;
}
.alwaysgroup  .ul_top{
    height: 30px;
    line-height: 30px;
}
ul{
    width: 100%;
    margin: 0 ;
    padding:0;
    clear: both;
}

ul li{
    list-style-type: none;
    float: left;
    font-size: 12px;
    margin: 0 auto 10px auto;
    text-align: center;
}
ul li img{
    width: 44px;
    height: 44px;
}

.groupc_li{
    border-radius: 50%;
}
.groupcomposition a{
    font-size: 14px;
    text-decoration: none;
    color:#666666;
}

.sx{
    width: 14px;
    height: 16px;
    vertical-align: middle;
}
.show_all{
    clear: both;
    text-align: left;
}

.iframe1{
    width: 890px;
    min-height: 602px;
    max-height: 602px;
    overflow-y:auto;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #dedede;
    clear: both;
}
.iframe1::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.iframe1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #999;
}
.iframe1::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.iframe2{
    width: 890px;
    height: 134px;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
    border:none;
}
.div_btn{
    text-align: right;
    margin-top: 15px;
}
textarea{
    width: 870px;
    height: 77px;
    background-color: #f8f8f8;
    overflow:hidden;
    border:none;
}
.button{
    background-color: #70bcc3;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    padding:5px 20px;
}
.font_size12{
    font-size: 12px;
}

.font_size14{
    font-size: 14px;
}

.font_size16{
    font-size: 16px;
}

.init_center{
    margin:0 auto;
    clear: both;
}

.w65_h50{
    width: 65px;height: 50px;
}
.w65_h20_line20{
    width: 65px;height: 20px;line-height: 20px;
}

.w85_h50{
    width: 88px;height: 50px;
}

.w85_h36_line18{
    width: 88px;height: 36px;line-height: 18px
}

