.head {
    width: 100%;
    height: 80px;
    border-bottom: #E5E3DF 1px solid;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    width: 180px;
    position: absolute;
    top: 19px;
    left: 0;
}

.links {
    position: absolute;
    top: 30px;
    left: 240px;
}

.links a {
    text-decoration: none;
}

.link {
    display: inline-block;
    width: 76px;
    color: #999999;
    font-size: 18px;
    cursor: pointer;
}

.link.active {
    color: #333333;
}

.delete {
    background: url("../../statics/image/close.png");
    width: 14px;
    height: 14px;
    position: absolute;
    left: 518px;
    top: 35px;
    cursor: pointer;
    display: none;
}

.search-input {
    width: 295px;
    height: 34px;
    position: absolute;
    padding-left: 25px;
    left: 542px;
    top: 23px;
    border-radius: 17px;
    border: solid 1px #1abd9b;
    line-height: 34px;
    display: none;
}

.search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 829px;
    top: 33px;
    cursor: pointer;
}

.write {
    position: absolute;
    left: 892px;
    top: 23px;
    width: 90px;
    height: 34px;
    border-radius: 17px;
    border: solid 2px #1abd9b;
    color: #1abd9b;
    font-size: 16px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.download {
    position: absolute;
    top: 33px;
    right: 125px;
    width: 61px;
    height: 12px;
    line-height: 18px;
    color: #999999;
    cursor: pointer;
}

.login-logout {
    position: absolute;
    top: 33px;
    left: 1078px;
    color: #999999;
    line-height: 13px;
    height: 13px;
}

.login-logout a {
    text-decoration: none;
    color: #999999;
}

.login-logout img {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 86px;
    top: -12px;
    cursor: pointer;
}

.user-info {

}

.user-info .notice-icon {
    width: 24px;
    height: 28px;
    position: absolute;
    right: 70px;
    top: 25px;
    cursor: pointer;

}

.user-info .user-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0px;
    top: 21px;
    border-radius: 50%;
    cursor: pointer;
}

.user-info .sign {
    background: red;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    right: 67px;
    top: 22px;
    z-index: 4;
    border-radius: 50%;
}

.user-select {
    width: 130px;
    height: 140px;
    z-index: 99;
    background: white;
    position: absolute;
    top: 66px;
    right: -40px;
    display: none;
}

.user-select .select {
    position: absolute;
    top: 0;
    left: 38px;
    width: 68px;
    height: 110px;
    margin: auto;
    margin-top: 20px;
}

.option {
    height: 28px;
    line-height: 28px;
    width: 100%;
    text-align: center;
    color: #999999;
    cursor: pointer;
}

.option.out {
    margin-top: 4px;
    color: red;
}

.download-pic {
    width: 320px;
    height: 177px;
    z-index: 99;
    background: white;
    position: absolute;
    top: 67px;
    right: 120px;
    display: none;
}