body{

}
.body{
    background-color: #f6f6f6;
}

.content-wrapper .content-teacher-wrapper{
    width: 1200px;
    height: 675px;
    padding:30px 0px 61px 0px;
}

.body .white-out-div{
    width: 1198px;
    height: 666px;
    background-image: linear-gradient(
            #ffffff,
            #ffffff),
    linear-gradient(
            #f5f5f5,
            #f5f5f5);
    background-blend-mode: normal,
    normal;
    border: solid 1px #dddddd;
}

div.white-out-div .search-condition{
    width: 194px;
    margin:15px -5px 0px 15px;
    padding-left: 14px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #ededed;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #cacaca;
    outline: none;
}

#btn-search{
    width: 80px;
    text-align: center;
    padding-left: 11.5px;
    height: 33px;
    margin:0px 15px 0px 15px;
    background-color: #1898dd;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 5px;
    color: #ffffff;
    border:none;
    outline: none;
    border-radius: 3px;
}

#view-switch{
    float: right;
    width: 80px;
    text-align: center;
    height: 33px;
    margin:21px 10px 21px 15px;
    background-color: #1898dd;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 0px;
    color: #ffffff;
    border:none;
    outline: none;
    border-radius: 3px;
}

.body table.zebra-table{
    padding:0px;
    margin: 24px 0px 24px 0px;
    width:100%;
    height: 500px;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    white-space: nowrap;

}
.body table.zebra-table tr{
    height: 46px;

}
.body table.zebra-table tr:first-of-type{
    height: 40px;
}
.body table.zebra-table th{
    height: 40px;
    background-color: #f0f0f0;
    padding:0px;margin:0px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4e4e4e;
    border-left:3px  #ffffff solid;
}
.body table.zebra-table th:first-of-type{
    border-left:none;
}

.body table.zebra-table tr:nth-child(odd){
    background-color: #f9f9f9;

}

.body table.zebra-table tr:nth-child(even){

}

.body table.zebra-table td{
    height: 46px;
    border-collapse: collapse;
    border:none;
    padding:0px;margin:0px;
    font-family: SimSun;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 46px;
    letter-spacing: 0px;
    color: #4e4e4e;
    text-align: center;
}

.body table.zebra-table td .audit-status{
    font-family: MicrosoftYaHei;
    width: 49px;
    height: 13px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    padding:2.5px 5px 2.5px 5px;
    border-radius: 2px;
}

.body table.zebra-table td .audit-status.s1{
    color: #fd9a2e;
    background-color: #FFEBD6;
}

.body table.zebra-table td .audit-status.s2{
    color: #24c6c8;
    background-color: #CDEFF0;
}

.body table.zebra-table td .no-operate{
    color: #666666;
    letter-spacing: 0px;
}

.body table.zebra-table td a.a-preview{
    font-family: SimSun;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #489299;
}

.body table.zebra-table td a.a-pass{
    font-family: SimSun;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #259980;
}

.body table.zebra-table td a.a-reject{
    font-family: SimSun;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #dc130e;
}

.body table.zebra-table td:nth-child(2){
    width: 143px;
}

.body table.zebra-table td .head-portrait-wrapper{
    width: 90px;
    height: 44px;
    margin: auto;
    display:inline;
}

.body table.zebra-table td div.head-portrait{
    width: 44px;
    height: 44px;
    background-image: url("../image/haoyoutouxiang1.png");
    background-size: 84%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    margin: 0px 10px 0px 22px;
}
.body table.zebra-table td div.head-portrait+div{
    float:left;
    width: 55px;
    text-align: center;
    white-space: nowrap;
}

.pagination-wrapper{
    float: right;
    margin: 10px 0px 0px 0px;
}