<div>
    <div class="material-title">$!{materialName}</div>
    <div class="material-deadline">截止日期：$!{deadline}</div>
    <button class="material-button btn-type-1">结果统计</button>
    <button class="material-button btn-type-2">办理</button>
</div>