
.sbxq_title{
	margin-top: 28px;	
	width: 1200px;
}
.sbxq_title span{
	font-family: MicrosoftYaHei;
	letter-spacing: 0px;
	color: #999999;
}

.sbxq_item{
	clear: none;
	margin-top: 20px;
	width: 1200px;
}

.cg_input{
	width: 180px;
	height: 26px;
	line-height: 26px;
	border: solid 1px #dedede;
	padding-left: 10px;
}
.st{
	margin-left: 5px;
	width: 200px;
	height: 28px;
	float: left;
	border: solid 1px #dedede;
}
.st_1{
	width: 118px;
	height: 28px;
	border: solid 1px #dedede;
}
.st_2{
	width: 180px;
	height: 28px;
	border: solid 1px #dedede;
}
.add_img{
	cursor: pointer;
}

.text_cl{
	width: 1156px;
	height: 60px;
	background-color: #e8f1fa;
	border-radius: 3px;
	border: solid 1px #3996fa;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	-webkit-opacity: 0.3;
	opacity: 0.3;
	filter:alpha(opacity=30);
	padding: 15px 20px;
	margin-top: 20px;
}
/**图书选择**/

#tsxz_span1{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -7px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.tsxz_title{
	font-family: 微软雅黑;
	letter-spacing: 0px;
	font-weight: normal;
	font-stretch: normal;
	font-weight: bold;
	color: #333333;
	margin-left: 10px;
}

.tsxz_ts{
	margin-left: 5px;
}

.item{
	margin-top: 15px;
	height: 30px;
}

.item span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	letter-spacing: 0px;
	color: #666666;
}

/**专家信息**/
#tsxz_span2{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -82px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.content{
	width: 1200px;
}

.tab_1{
	width: 100%;
	margin-top: 15px;
}
.tab_1 tr{
	height: 45px;
}
.tab_1 tr td{
	height: 45px;
}
.tab_1 tr td {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #666666;
}
.tab_1 tr td span{
	display: inline-block;
}
.btbs{
	color: red;
}

/**主要学习经历**/
#tsxz_span3{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -135px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.tab_2{
	width: 100%;
	margin-top: 15px;
	border:1px solid #dedede;
	empty-cells:show; 
	border-collapse: collapse;
}

.tab_2 thead tr{
	background-color: #f8f8f8;
	
}

.tab_2 thead td{
	font-family: MicrosoftYaHei;
	line-height: 30px;
	letter-spacing: 0px;
	color: #333333;
	text-align: center;
	border:1px solid #dedede; 
	height: 32px;
}

.tab_2 tbody td{
	font-family: MicrosoftYaHei;
	line-height: 30px;
	letter-spacing: 0px;
	color: #999999;
	text-align: center;
	border:1px solid #dedede; 
	height: 48px;
}

.sbdw{
	margin-top: 15px;
}
.sbdw span{
	font-family: MicrosoftYaHei;
	line-height: 26px;
	letter-spacing: 0px;
	color: #333333;
}

.button{
	height: 30px;
	width: 1200px;
	text-align: center;
	margin-top: 40px;
	
}

.div_butt{
	width: 270px;
	height: 24px;
	color: #FFFFFF;
	margin:auto;/*重要,IE兼容模式*/
	top:50%;
	left:50%;
}
.bt_tj{
	width: 74px;
	height: 24px;
	background-color: #70bcc3;
	border-radius: 2px;
	cursor: pointer;
	color: #FFFFFF;
	float: left;
	margin-left: 15px;
}
#tsxz_span4{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -109px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

#tsxz_span5{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -56px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

#tsxz_span6{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -31px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

#tsxz_span7{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -163px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

#tsxz_span8{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

#tsxz_span9{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

#tsxz_span10{
	background-image: url(../image/css_sprites.png);
    background-position: -333px -191px;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    float: left;
}

.scys{
	width: 78px;
	height: 24px;
	background-color: #70bcc3;
	border-radius: 2px;
	cursor: pointer;
	float: left;
	text-align: center;
}

.scys span{
	margin:auto;/*重要,IE兼容模式*/
	top:50%;
	left:50%;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	letter-spacing: 0px;
	color: #ffffff;
	
}
.pull-right{
	float: right;
}
.addBtn,.delBtn{
	width: 60px;
	height: 24px;
	background-color: #70bcc3;
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
}
.delBtn{
	background-color: #ff3d38;
}
.addBtn span,.delBtn span{
	margin:auto;/*重要,IE兼容模式*/
	top:50%;
	left:50%;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	letter-spacing: 0px;
	color: #ffffff;

}
.relative{
	position: relative;
}