.news {
    padding-top: 40px;
}
/*焦点信息*/
.focus-news {
    float: left;
    height: 830px;
    width: 840px;
}
.focus-title{
    width:831px;
    height:42px;
}
.focus-title .text1{
    font-size: 28px;
    color: #000000;
}
.focus-title .text2{
    color: #d3341e;
}
.focus-title .text3{
    font-size: 18px;
    color: #666666;
    margin-left: 20px
}
.focus-title a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #999999;
}
.focus-img{
    width:831px;
    height:380px;
    margin-top: 10px;
}
.focus-content{
    margin-top: 20px;
    width:831px;
    height:140px;
}
.focus-content img{
    height:135px;
    width:200px;
    margin-top: 3px
}
.focus-content .content-text{
    float:left;
    margin-left: 20px;
    margin-top: 3px ;
    height:135px;
    width:607px;
}
.focus-content .content-text .title{
    margin:0;
    padding:0;
    font-size:20px;
    line-height: 30px;
    font-weight: 400 ;
    /*height: 50px;*/
    overflow: hidden;
    text-overflow:ellipsis;
}
.focus-content .content-text .date{
    margin-top:14px;
    padding:0;
    margin-bottom: 9px;
    color: #cdcdcd;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
}
.focus-content .content-text .text{
    margin:0;
    padding:0;
    color: #858585;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 48px;
    font-size: 14px
}
.focus-news .line{
    width: 830px;
    height: 1px;
    background-color: #ebebeb;
    margin-top: 20px
}
/*遴选公告*/
.notice {
    float: left;
    width: 360px;
    height:110px;
    position: relative;
}

.notice .title {
    width: 162px;
    height: 42px;
    color: white;
    font-size: 22px;
    text-align: center;
    background: #099292;
}

.notice .title .line {
    width: 7px;
    height: 42px;;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: #007073;
}

.notice .title .name {
    width: 100%;
    height: 100%;
    line-height: 42px;
}

.notice .item {
    margin: 10px 0;
    border: 1px solid #F0EFED;
    width: 360px;
    height: 110px;
}
.notice .item .head{
    font-size: 14px;
    margin: 10px;
}
.notice .running{
    color:#489299;
}
.notice .end{
    color:#B0B0B0;
}
.notice .item .time{
    position: absolute;
    right:10px;
    font-size: 12px;
    color:#b0b0b0
}
.notice .item .notice_title{
    height:50px;
    overflow: hidden;
    text-overflow:ellipsis;
    padding-left:15px;
    font-size: 14px;
    padding-right:10px;
    line-height:25px;
    color:#999999
}
/*医学随笔*/
.notes {
    float:left;
    /*height: 830px;*/
    width: 1200px;
}

.notes .title {
    width: 200px;
    height: 25px;
    font-size: 25px;
    text-align: left;
}

.notes .title .line {
    width: 7px;
    height: 100%;
    float: left;
    background: #35C975;
}

.notes .title .name {
    float: left;
    margin-left: 10px;
    height: 100%;
    line-height: 25px;
}
.notes .title .name a{
    font-size: 14px;
    margin-left: 15px;
    color: #999999;
    text-decoration: none;
}
.notes .item {
    margin-top: 21px;
    width: 285px;
    float: left;
    height: 380px;
    position: relative;
}
.behind{
    margin-left: 20px;
}
.notes .item .inside{
    width:292px;
    height: 380px;
    margin-top:30px
}
.notes .item .command{
    height:30px;
    width: 40px;
    float:left;
    position:absolute;
    top:10px;
    margin-top: 10px;
    position:absolute;
    top:10px;
    left:-6px;
    color:white;
    background-image:url(../image/wenzhangtuijian.png);
}
.notes .item .content{
    width:284px;
    border: 1px #EAEAEA solid;
    height: 380px;
}
.notes .item .content-image{
    height: 182px;
    width:284px
}
.notes .item .content-title{
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.notes .item .content-text{
    padding-left: 10px;
    padding-right: 10px;
    height:72px;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    color:#999999;
    text-overflow:ellipsis;
}
.notes .item .foot{
    margin-left: 10px;
    line-height: 30px
}
.notes .item .personicon{
    width:30px;
    height:30px;
    border-radius: 50%
}
.notes .item .msg{
    float:left;
    color:#666666
}
.notes .item .msg .name{
    margin-left: 14px;
    height: 30px;
    color:#666666;
}
/*推荐作者*/
.writer {
    float: left;
    margin-top: 20px;
    width: 1200px;
    height: 100px;
    background-color: #f6f6f6;
}

.writer .title {
    padding-top: 10px;
    padding-left: 15px;
    height:24px;
    clear: both;
    font-size: 16px;
    color: #999999;
}
.writer .item {
    width: 298px;
    float: left;
    height: 44px;
}
.writer .item .content{
    border:1px white solid;
    background-color:white;
    height: 44px;
    border-radius: 22px;
    margin-left: 20px
}
.writer .item .content-img{
    margin: 7px 5px 7px 5px;float:left
}
.writer .item .content-img  img{
    width:30px;
    height:30px;
    border-radius: 15px
}
.writer .item .msg{
    width:160px;
    height:30px;
    margin-top:5px;
    float:left;
    font-size: 12px;
    line-height: 18px;
}
.writer .item .msg .name{
    color: #666666;
}
.writer .item .msg .text{
    overflow: hidden;
    color: #999999;
    text-overflow:ellipsis; /*超出部分省略号显示*/
    white-space:nowrap;/*强制不换行*/
}
.writer .item .add{
    width:53px;
    height:30px;
    margin-top:6px;
    float:left;
    margin-left: 15px;
    font-size:14px;
    padding-top: 5px
}
.writer .item .add span{
    margin-left: 2px;
    color: #35c974;
}
.apply-book{
    width:52px;
    height:52px;
    position: absolute;
    left:1290px;
    top:660px;
    background-color: #68d797;
    border-radius: 3px;
    font-size: 14px
}
.apply-book .text{
    margin:8px auto 0px;
    position: relative;
    width: 30px;
    height:54px;
    line-height: 18px;
    color:#F7FDFB;
}