.leftarea {
    width: 900px;
    margin-top: 40px;
    float: left;
}

.rightarea {
	margin-left: 30px;
	width: 270px;
	margin-top: 40px;
	float: right;
}

/**
 * 左边区域
 */
.leftarea title{
	height: 30px;
	width: 100%;
}

.title span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 45px;
	letter-spacing: 0px;
	color: #999999;
}

.leftarea bt{
	height: 45px;
	width: 100%;
}

.bt span{
	font-family: MicrosoftYaHei;
	font-size: 24px;
	line-height: 45px;
	letter-spacing: 0px;
	color: #333333;
}

.leftarea lj{
	height: 30px;
	width: 100%;
}

.span_1{
	font-family: MicrosoftYaHei;
	line-height: 45px;
	letter-spacing: 0px;
	color: #666666;
}

.span_2{
	font-family: MicrosoftYaHei;
	letter-spacing: 0px;
	color: #b4b4b4;
}

.xqbf1{
	width: 890px;
	height: 150px;
	background-color: #ffffff;
	border: solid 1px #e4e4e4;
	margin-top: 50px;
}

.author{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #999999;
}

.write{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #489299;
}

.dzsc{
	width: 140px;
	height: 26px;
	float: right;
}

.dzsc img{
	float: left;
	cursor: pointer;
}

#span_1{
	background-image: url(../image/css_sprites.png);
    background-position: -113px -155px;
    background-repeat: no-repeat;
    height: 25px;
    width: 20px;
    float: left;
}
#span_2{
	margin-left: 20px;
	background-image: url(../image/css_sprites.png);
    background-position: -113px -178px;
    background-repeat: no-repeat;
    height: 25px;
    width: 20px;
    float: left;
}

.star{
    float: left;
    margin-top: -30px;
    margin-left: 55px;
}

.eight{
    float: left;
    margin-top: -25px;
    margin-left: 120px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #ffd200;
}

.date{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #999999;
}

.date_content{
    float: left;
    margin-top: 5px;
    margin-left: 4px;
}

.zero{
    float: left;
    margin-top: -24px;
    margin-left:135px;
    font-family: MicrosoftYaHei;
    font-size: 8px;
    color: #ffd200;
}

.xl1{
	width: 130px;
	height: 100%;
	float: left;
    margin-top: -20px;
}

.display{
    display:inline-block;
}

.xl2{
	width: 350px;
	height: 100%;
	float: left;
}

.xl3{
	margin-top: 20px;
	float: left;
	width: 1px;
	height: 110px;
	border-left: 1px #c7c7c7 dashed;
}

.xl4{
	width: 400px;
	height: 100%;
	float: left;
}

.xl2 li{
	list-style: none;
}
.xl4 ul{
	margin-left: 30px;
}
.xl4 li{
	list-style: none;
}

.xqbf2{
	width: 890px;
	height: 28px;
	margin-top: 20px;
}

.xsp{
	width: 85px;
	height: 28px;
    background-color: #ECF4F6;
	border-radius: 2px;
	padding-top: 5px;
}
.left1{
    width: 100px;
    height: 28px;
    float: right;
    padding-top: 5px;
    background-color: #e8f1fa;
    border-radius: 3px;
    border: solid 1px #3996fa;
    cursor: pointer;
}

#xsp{
	background-image: url(../image/css_sprites.png);
    background-position: -372px -175px;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 10px;
}

.xsp2{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #3996fa;
}

#xsp3{
    background-image: url(../image/css_sprites.png);
    background-position: -145px -174px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 10px;
}

#xsp4{
    background-image: url(../image/css_sprites.png);
    background-position: -147px -151px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 10px;
}

#xsp1{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #489299;
    background-color: #ECF4F6;
    cursor: pointer;
}

.block {
    clear: both;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button{
    float: right;
    width: 80px;
    height: 28px;
    border: 1px solid #95E9B9;
    background-color: #F1FBF4;
    margin-right: 4px;
}

#span_4{
    float: left;
    margin-left: 27px;
    padding-top: 4px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #5cbb88;
}

.block .title {
    height: 20px;
    width: 100%;
}

.block .title .line {
    float: left;
    width: 5px;
	height: 20px;
	background-color: #5cbb88;
}

.block .title .rd_name {
	float: left;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #9aaabf;
	margin-left: 10px;
}

.aticle{
	font-family: MicrosoftYaHei;
	line-height: 24px;
	letter-spacing: 1px;
	color: #666666;
	width: 97%;
	margin-left: 20px;
}

.pl_add .tarea{
	width: 890px;
	height: 90px;
	background-color: #f1fbf4;
	border-radius: 3px;
	border: solid 1px #95e9b9;
	color:#1abd44;
	font-family: "微软雅黑";
}

.rwtx1{
	background-image: url(../image/css_sprites.png);
    background-position: -184px -176px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    float: left;
    margin-left: -3px;
    margin-top: 12px;
}


.rwtx2{
	background-image: url(../image/css_sprites.png);
    background-position: -184px -154px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    float: left;
    margin-top: 12px;
    margin-left: -3px;
}
.block .item{
	width: 890px;
	height: 110px;
}

.block .item .item_title{
	width: 890px;
	height: 30px;
	text-align: center;
}

.block .item .item_content{
	width: 890px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	color: #666666;
	margin-top: 10px;
}

/**
 * 右侧区域
 */
.right_3{
    float: left;
    margin-top: 26px;
	width: 278px;
	height: 495px;
    border-top: 1px solid #EFEFEF;
}

.right_4{
    width: 278px;
    height: 61px;
}

.right_5{
    float: left;
    margin-top: 21px;
    width: 139px;
    height:36px;
}

.right_8{
    float: left;
    margin-top: 25px;
    width: 139px;
    height:36px;
}

.refresh{
    float: left;
    margin-top: -5px;
    margin-left: 4px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #999999;
}

.right_9{
    float: left;
    height: 144px;
    width: 92px;
}

.right_10{
    float: left;
    width: 100%;
    height: 96px;
}

.right_11{
    float: left;
    margin-bottom: 12px;
    width: 100%;
    height: 36px;
 }

.right_12{
    float: left;
    margin-left: 12px;
    height: 90px;
    width: 65px;
}

.right_13{
    float: left;
    width: 275px;
    margin-top: 40px;
    height: 1px;
    background-color: #EFEFEF;
}

.right_14{
    float: left;
    margin-top: 10px;
    width: 275px;
    height: 228px;
}

.right_15{
    float: left;
    height: 56px;
    width: 137px;
}

.right_19{
    float: right;
    height: 56px;
    width: 137px;
}

.picture1{
    width: 14px;
    height: 15px;
    background-image: url("../image/刷新.png");
    float: left;
    margin-top: 16px;
    margin-left: 80px;
}

.right_20{
    float: left;
    height: 34px;
    width: 275px;
    border-top: 1px dashed #EFEFEF;
    border-bottom: 1px dashed #EFEFEF;
    text-overflow:ellipsis; /*超出部分省略号显示*/
    white-space:nowrap;/*强制不换行*/
    overflow: hidden;
}

.right_21{
    height: 100%;
    float: left;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    overflow: hidden;
    color: #489299;
    margin-top: 6px;
    text-overflow:ellipsis; /*超出部分省略号显示*/
    white-space:nowrap;/*强制不换行*/
}

.right_22{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #999999;
    margin-top: 6px;
    float: left;
}

.refresh1{
    float: left;
    margin-left: 5px;
    margin-top: 12px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #999999;
}

.right_16{
    float: left;
    height: 56px;
    width: 275px;
}

.right_17{
    background-image: url(../image/css_sprites.png);
    background-position: -460px -6px;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    margin-top: 12px;
}

.right_18{
    float: left;
    margin-top: 12px;
    margin-left: 5px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #000000;
}

.right_6{
    background-image: url("../image/css_sprites.png");
    background-position: -460px -60px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    float: left;
}

.right_7{

}

#span_3{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #000000;
}

#ptts{
	background-image: url(../image/css_sprites.png);
    background-position: -460px -35px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

.ptts_sp1{
	font-family: MicrosoftYaHei;
	letter-spacing: 0px;
	color: #000000;
}

.ptts_sp2{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	letter-spacing: 0px;
	color: #999999;
}

.ptts_sp3{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	letter-spacing: 0px;
	color: #666666;
}

.right_2{
	width: 275px;
	height: 100%;
}