.title{
    margin-top: 28px;
    border-bottom: 1px dotted #999999;
}

.conten{
    width: 1200px;
    margin-top: 49px;
}

.conten-left{
    float: left;
    width: 510px;
}

.conten-left-top{
    width: 510px;
    height: 115px;
}

.img-bg{
    background-image: url("../image/jinduBG.png");
    background-repeat: no-repeat;
    width: auto;
    height: 115px;
    padding-top: 20px;
}

.img_left {
    float: left;
    width: 160px;
    height: 100px;

}

.picture_top{
    background-image: url(../image/css_sprites27.png);
    background-position: -380px -15px;
    height: 30px;
    width: 32px;
    background-repeat: no-repeat;
   margin-left: 48px;
}

.picture_mid{
    background-image: url(../image/css_sprites27.png);
    background-position: -194px -15px;
    height: 30px;
    width: 32px;
    background-repeat: no-repeat;
    margin-left: 48px;
}

.picture_right{
    background-image: url(../image/css_sprites27.png);
    background-position: -302px -16px;
    height: 30px;
    width: 32px;
    background-repeat: no-repeat;
    margin-left: 48px;
}

.picture_bom{
    margin-left: 23px;
    padding-top: 10px;
    height: 18px;
}

.span_bom_left{
    float: left;
    width: auto;
    font-family: MicrosoftYaHei;
    color: #03717b;
    font-size: 16px;
    height: 16px;
    padding-right: 4px;

}

.img_bom_right{
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 3px;
}





.img_mid {
    float: left;
    width: 160px;
    height: 100px;
}


.img_right {
    float: left;
    width: 160px;
    height: 100px;
}






.conten-left-bom{
    width: 510px;
    margin-top: 44px;
}

.left-bom-1{
    width: auto;
    height: 16px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #333333;
}
.left-bom-2{
    text-align: center;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 2px;
    margin-top: 26px;
    margin-bottom: 15px;
}
.left-bom-21{
    float: left;
    text-align: left;
    padding-left: 15px;
    width: 97px;
    height: 30px;
    font-size: 14px;
    background-color: #e8e8e8;
    border-radius: 2px 0px 0px;
}
.left-bom-22{
    float: left;
    width: 210px;
    height: 30px;
    text-align: left;
    padding-left: 38px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #03717b;
    background-color: #f1f1f1;
}

.left-bom-23{
    margin-left: 20px;
    float: left;
    width: 102px;
    height: 30px;
    font-size: 14px;
    background-color: #1abd44;
    border-radius: 2px;
    color: #ffffff;
    border: none;

}
.left-bom-24{
    float: left;
    width: 210px;
    height: 30px;
    text-align: left;
    padding-left: 38px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    background-color: #f1f1f1;
}

/*-------------------------右侧代码--------------------------------*/
.conten-right{
    float: right;
    width: 630px;

}

.list{
    width: 630px;
    height: auto;
}


.rightContent-top{
    height: 20px;
    line-height: 20px;
}


.time{
    float: left;
    font-size: 12px;
    font-family: MicrosoftYaHe;
    color: #999999;
}

.rightContent-bom{
    height: 100px;
    line-height: 100px;
    border-left: 4px solid #F2F2F2;
    margin-left:9px;
    padding-left:30px;
}

.rightContent-bom-1{
    height: 100px;
    line-height: 100px;
    margin-left:9px;
    padding-left:30px;
}

.wzContent{
    height: 50px;
    font-size: 14px;
    color: #777777;
    line-height: 50px;
    border-bottom: 1px dotted #999;
}

.board-line{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background-color: #F2F2F2;
    margin-right: 30px;
}




