.title {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px dotted #999999;
    font-size: 16px;
    color: #333333;
    font-family: MicrosoftYaHe;
    padding-bottom: 13px;
}

.bigbox{
    width:1200px;
   background-color: #FFFFFF;
    margin-top: 19px;
}

.top-title{
    width: 1160px;
    height: 64px;
    background-image: url("../image/图层-4.png");
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-bottom: 10px;
}


.span-1{
    float: left;
    width: 162px;
    height: 30px;
    background-color: #106dc1;
    margin-left: 89px;
    margin-top: 12px;

}

.span-w{
    width: 121px;
    height: 30px;
    font-family: SimSun;
    font-size: 14px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 4px;

}



.span-1-2{
    float: left;
    width: 91px;
    height: 30px;
    font-family: SimSun;
    font-size: 14px;
    color: #626262;
    margin-top: 16px;
    margin-left: 30px;
}

.excel{
    width: 1160px;
    height: 31px;
    background-color: #fdf2dd;
    margin-left: 20px;
    margin-bottom: 15px;
}

.excel_left{
    float: left;
    width: 210px;
    height: 30px;
    background-image: url("../image/bluesanjiao.png");
    background-repeat: no-repeat;
}
.excel_left-1{
    width: 121px;
    font-family: SimSun;
    font-size: 14px;
    color: #ffffff;
    margin-left: 13px;
    margin-top: 4px;
}



.excel_right{
    float: left;
    width: 950px;
    height: 30px;
}

.excel_right_img{
    float: left;
    margin-left: 765px;
    width: 18px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.excel_right_e{
    float: left;
   /* width: 54px;*/
    height: 30px;
    font-family: SimSun;
    font-size: 12px;
    color: #1c74c2;
    margin-right: 20px;
}

.aa{
    display: block;
    text-decoration: none;
    margin-top: 4px;

}

.excel_right_q{
    float: left;
   /* width: 54px;*/
    height: 30px;
    font-family: SimSun;
    font-size: 12px;
    color: #1c74c2;
    margin-top: 4px;
}

.excel_right_xljt{
    float: left;
    width: 10px;
    height: 5px;
    margin-top: 13px;
    margin-right: 5px;
}





.message{
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    margin-bottom: 30px;

}

table,tr,td{
    padding: 0;
    margin: 0;
}
table{
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
}
table thead tr{
    height: 46px;
    line-height: 30px;
    background-color:#f0f0f0;
}
table thead td{
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    border: 3px solid #fff;
}
table tbody tr{
    height: 46px;
    line-height: 30px;
    font-family: SimSun;
}

table tr:hover{background:#fff4e5;}



table tbody tr:nth-child(odd){

    text-align: center;
}

table tbody tr:nth-child(even){
    text-align: center;
    background-color:#f0f0f0;

}

.jiazaigengduo {
    font-size: 14px;
    color: #999999;
    float: left;
    height: 17px;
    text-align: center;
    margin-bottom: 38px;
    margin-left: 562px;
}

