<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.commuser.book.dao.BookUserLikeDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null and id !=''">
				id,
			</if>
			<if test="bookId != null and bookId !=''">
				book_id,
			</if>
			<if test=" writerId != null and writerId !=''">
				writer_id,
			</if>
			<if test=" gmtCreate != null and gmtCreate !=''">
				gmt_create,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null and id !=''">
				#{id},
			</if>
			<if test="bookId != null and bookId !=''">
				#{bookId},
			</if>
			<if test=" writerId != null and writerId !=''">
				#{writerId},
			</if>
			<if test=" gmtCreate != null and gmtCreate !=''">
				#{gmtCreate},
			</if>
		</trim>
	</sql>
	<!-- 新增BookUserLike -->
	<insert id="addBookUserLike" parameterType="BookUserLike">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into book_user_like (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>


	<!-- 根据id删除一个 -->
	<delete id="deleteBookUserLikeById" parameterType="java.lang.Long">
		delete from
		book_user_like where
		id=#{id} ;
	</delete>

	<!-- 根据书籍id删除 -->
	<delete id="deleteBookUserLikeByBookId" parameterType="java.lang.Long">
		delete from
		book_user_like where
		book_id=#{bookId} ;
	</delete>
	
	<!-- 更新BookUserLike -->
	<update id="updateBookUserLike" parameterType="BookUserLike">
		update book_user_like
		<set>
			<if test="id != null and id !=''">
				id=#{id},
			</if>
			<if test="bookId != null and bookId !=''">
				book_id=#{bookId},
			</if>
			<if test=" writerId != null and writerId !=''">
				writer_id=#{writerId},
			</if>
			<if test=" gmtCreate != null and gmtCreate !=''">
				gmt_create=#{gmtCreate},
			</if>
		</set>
		where
		id=#{id} ;
	</update>

	<!-- 根据id查询一个BookUserLike -->
	<select id="getBookUserLikeById" parameterType="java.lang.Long"
		resultType="BookUserLike">
		select * from book_user_like where id=#{id} ;
	</select>
</mapper>