<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.commuser.book.dao.BookDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bookname != null and bookname !=''">
				bookname,
			</if>
			<if test="isbn != null and isbn !=''">
				isbn,
			</if>
			<if test="sn != null and sn !=''">
				sn,
			</if>
			<if test="vn != null and vn !=''">
				vn,
			</if>
			<if test="author != null and author !=''">
				author,
			</if>
			<if test="publisher != null and publisher !=''">
				publisher,
			</if>
			<if test="lang != null and lang !=''">
				lang,
			</if>
			<if test="revision != null">
				revision,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="publishDate != null ">
				publish_date,
			</if>
			<if test="reader != null and reader !=''">
				reader,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="buyUrl != null and buyUrl !=''">
				buy_url,
			</if>
			<if test="imageUrl != null and imageUrl !=''">
				image_url,
			</if>
			<if test="pdfUrl != null and pdfUrl !=''">
				pdf_url,
			</if>
			<if test="clicks != null">
				clicks,
			</if>
			<if test="comments != null">
				comments,
			</if>
			<if test="likes != null">
				likes,
			</if>
			<if test="bookmarks != null">
				bookmarks,
			</if>
			<if test="isStick != null ">
				is_stick,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="deadlineStick != null">
				deadline_stick,
			</if>
			<if test="isNew != null">
				is_new,
			</if>
			<if test="sortNew != null">
				sort_new,
			</if>
			<if test="deadlineNew != null">
				deadline_new,
			</if>
			<if test="isPromote != null">
				is_promote,
			</if>
			<if test="sortPromote != null">
				sort_promote,
			</if>
			<if test="deadlinePromote != null">
				deadline_promote,
			</if>
			<if test="sales != null">
				sales,
			</if>
			<if test="isOnSale != null">
				is_on_sale,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtUpdate != null ">
				gmt_update,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="bookname != null and bookname !=''">
				#{bookname},
			</if>
			<if test="isbn != null and isbn !=''">
				#{isbn},
			</if>
			<if test="sn != null and sn !=''">
				#{sn},
			</if>
			<if test="vn != null and vn !=''">
				#{vn},
			</if>
			<if test="author != null and author !=''">
				#{author},
			</if>
			<if test="publisher != null and publisher !=''">
				#{publisher},
			</if>
			<if test="lang != null and lang !=''">
				#{lang},
			</if>
			<if test="revision != null">
				#{revision},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="publishDate != null ">
				#{publishDate,jdbcType=TIMESTAMP},
			</if>
			<if test="reader != null and reader !=''">
				#{reader},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="score != null">
				#{score},
			</if>
			<if test="buyUrl != null and buyUrl !=''">
				#{buyUrl},
			</if>
			<if test="imageUrl != null and imageUrl !=''">
				#{imageUrl},
			</if>
			<if test="pdfUrl != null and pdfUrl !=''">
				#{pdfUrl},
			</if>
			<if test="clicks != null">
				#{clicks},
			</if>
			<if test="comments != null">
				#{comments},
			</if>
			<if test="likes != null">
				#{likes},
			</if>
			<if test="bookmarks != null">
				#{bookmarks},
			</if>
			<if test="isStick != null">
				#{isStick},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="deadlineStick != null ">
				#{deadlineStick},
			</if>
			<if test="isNew != null">
				#{isNew},
			</if>
			<if test="sortNew != null">
				#{sortNew},
			</if>
			<if test="deadlineNew != null">
				#{deadlineNew},
			</if>
			<if test="isPromote != null">
				#{isPromote},
			</if>
			<if test="sortPromote != null">
				#{sortPromote},
			</if>
			<if test="deadlinePromote != null">
				#{deadlinePromote},
			</if>
			<if test="sales != null">
				#{sales},
			</if>
			<if test="isOnSale != null">
				#{isOnSale},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate},
			</if>
			<if test="gmtUpdate != null">
				#{gmtUpdate},
			</if>
		</trim>
	</sql>
	<!-- 新增Book -->
	<insert id="addBook" parameterType="Book">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into book (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 根据id删除一个 -->
	<delete id="deleteBookById" parameterType="java.lang.Long">
		delete from book where
		id=#{id} ;
	</delete>

	<!-- 更新Book -->
	<update id="updateBook" parameterType="Book">
		update book
		<set>
			<if test="id != null and id !=''">
				id=#{id},
			</if>
			<if test="bookname != null and bookname !=''">
				bookname=#{bookname},
			</if>
			<if test=" isbn != null and isbn !=''">
				isbn=#{isbn},
			</if>
			<if test="sn != null and sn !=''">
				sn=#{sn},
			</if>
			<if test="author != null and author !=''">
				author=#{author},
			</if>
			<if test="publisher != null and publisher !=''">
				publisher=#{publisher},
			</if>
			<if test="lang != null and lang !=''">
				lang=#{lang},
			</if>
			<if test="revision != null and revision !=''">
				revision=#{revision},
			</if>
			<if test="type != null ">
				type=#{type},
			</if>
			<if test="publishDate != null ">
				publish_date=#{publishDate},
			</if>
			<if test="reader != null and reader !=''">
				reader=#{reader},
			</if>
			<if test=" price != null and price !=''">
				price=#{price},
			</if>
			<if test="score != null and score !=''">
				score=#{score},
			</if>
			<if test="buyUrl != null and buyUrl !=''">
				buy_url=#{buyUrl},
			</if>
			<if test=" imageUrl != null and imageUrl !=''">
				image_url =#{imageUrl},
			</if>
			<if test="pdfUrl != null and pdfUrl !=''">
				pdf_url=#{pdfUrl},
			</if>
			<if test="clicks != null and clicks !=''">
				clicks=#{clicks},
			</if>
			<if test=" comments != null and comments !=''">
				comments=#{comments},
			</if>
			<if test="likes != null and likes !=''">
				likes=#{likes},
			</if>
			<if test="bookmarks != null and bookmarks !=''">
				bookmarks=#{bookmarks},
			</if>
			<if test=" isStick != null ">
				is_stick=#{isStick},
			</if>
			<if test=" sort != null and sort !=''">
				sort=#{sort},
			</if>
			<if test="deadlineStick != null">
				deadline_stick=#{deadlineStick},
			</if>
			<if test="isNew != null ">
				is_new=#{isNew},
			</if>
			<if test=" sortNew != null and sortNew !=''">
				sort_new=#{sortNew},
			</if>
			<if test="deadlineNew != null ">
				deadline_new=#{deadlineNew},
			</if>
			<if test=" isPromote != null ">
				is_promote=#{isPromote},
			</if>
			<if test="sortPromote != null and sortPromote !=''">
				sort_promote=#{sortPromote},
			</if>
			<if test="deadlinePromote != null ">
				deadline_promote=#{deadlinePromote},
			</if>
			<if test=" sales != null and sales !=''">
				sales=#{sales},
			</if>
			<if test=" isOnSale != null ">
				is_on_sale=#{isOnSale},
			</if>
			<if test="gmtCreate != null ">
				gmt_create=#{gmtCreate},
			</if>
			<if test=" gmtUpdate != null ">
				gmt_update=#{gmtUpdate},
			</if>
		</set>
		where
		id=#{id} ;
	</update>

	<!-- 根据id查询一个Book -->
	<select id="getBookById" parameterType="java.lang.Long"
		resultType="Book">
		select * from book where id=#{id} ;
	</select>

	<!-- 根据vn查询一个Book -->
	<select id="getBookByVn" parameterType="java.lang.String"
		resultType="Book">
		select b.*,d.detail content from book b left join
		book_detail d on d.book_id = b.id where b.vn=#{vn} ;
	</select>

	<!-- 分页查询 -->
	<select id="listBookVO" parameterType="PageParameter"
		resultType="BookVO">
		SELECT 
			b.*,
			t.type_name,
			t.path 
		FROM 
			book b 
		LEFT JOIN 
			material_type t
		ON
			t.id = b.type 
		WHERE 
			1 = 1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (b.isbn like concat('%',#{parameter.name},'%') or
			b.bookname like
			concat('%',#{parameter.name},'%'))
		</if>
		<if test="parameter.path !=null and parameter.path != ''">
			and (t.path like concat(#{parameter.path},'%') or
			t.id=#{parameter.type})
		</if>
		<if test="parameter.isNew !=null ">
			and b.is_new =#{parameter.isNew}
		</if>
		<if test="parameter.isOnSale !=null ">
			and b.is_on_sale =#{parameter.isOnSale}
		</if>
		<if test="parameter.isPromote !=null ">
			and b.is_promote = #{parameter.isPromote}
		</if>
		<if test="parameter.type !=null ">
			and b.type = #{parameter.type}
		</if>
		LIMIT #{start},#{pageSize}
	</select>

	<!-- 查询总数 -->
	<select id="getBookVOTotal" parameterType="PageParameter"
		resultType="Integer">
		SELECT count(*) FROM book b LEFT JOIN material_type t ON t.id =
		b.type
		WHERE 1 = 1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (b.isbn like concat('%',#{parameter.name},'%') or
			b.bookname like
			concat('%',#{parameter.name},'%'))
		</if>
		<if test="parameter.isNew !=null ">
			and b.is_new =#{parameter.isNew}
		</if>
		<if test="parameter.isOnSale !=null ">
			and b.is_on_sale =#{parameter.isOnSale}
		</if>
		<if test="parameter.isPromote !=null ">
			and b.is_promote = #{parameter.isPromote}
		</if>
		<if test="parameter.path !=null and parameter.path != ''">
			and (t.path like concat(#{parameter.path},'%') or
			t.id=#{parameter.type})
		</if>
	</select>


</mapper>